---
title: Character category
banner: true
wide_content: true
---

<style>
.chara-category a {
  display: inline-block;
  margin: 2px 5px;
  width: 100px;
}
</style>

{% assign all_chara = "" | split: "," %}
{% for chara in site.charas %}
    {% if chara.unreleased %}
        {% assign all_chara = all_chara | push: chara %}
        {% continue %}
    {% endif %}
    {% assign cardId = chara.characterId | times: 100 | plus: 100011 | downcase %}
    {% assign sidekick = site.data.SidekickMaster[cardId] %}
    {% if sidekick.rarity >= 3 %}
        {% assign all_chara = all_chara | push: chara %}
    {% endif %}
{% endfor %}

<table class="chara-category bordered">
<tr><th>Gender \ Type</th><th>Humanoid</th><th>Anthro</th><th>Other</th></tr>
<tr>
    <td>Male</td>
    <td>
    {% assign temp = all_chara | where: "type", "humanoid" | where: "gender", "male" %}
    <p>Total: {{ temp.size | default: 0 }}</p>
    {% for chara in temp %}
        <a class="item" href="{{ chara.url }}"><img src="{{ chara | charaPageToIcon }}" loading="lazy" widt="32" height="32"> {{ chara.title }}</a>
    {% endfor %}
    </td>
    <td>
    {% assign temp = all_chara | where: "type", "anthro" | where: "gender", "male" %}
    <p>Total: {{ temp.size | default: 0 }}</p>
    {% for chara in temp %}
        <a class="item" href="{{ chara.url }}"><img src="{{ chara | charaPageToIcon }}" loading="lazy" widt="32" height="32"> {{ chara.title }}</a>
    {% endfor %}
    </td>
    <td>
    {% assign temp = all_chara | where: "type", "other" | where: "gender", "male" %}
    <p>Total: {{ temp.size | default: 0 }}</p>
    {% for chara in temp %}
        <a class="item" href="{{ chara.url }}"><img src="{{ chara | charaPageToIcon }}" loading="lazy" widt="32" height="32"> {{ chara.title }}</a>
    {% endfor %}
    </td>
</tr>
<tr>
    <td>Female</td>
    <td>
    {% assign temp = all_chara | where: "type", "humanoid" | where: "gender", "female" %}
    <p>Total: {{ temp.size | default: 0 }}</p>
    {% for chara in temp %}
        <a class="item" href="{{ chara.url }}"><img src="{{ chara | charaPageToIcon }}" loading="lazy" widt="32" height="32"> {{ chara.title }}</a>
    {% endfor %}
    </td>
    <td>
    {% assign temp = all_chara | where: "type", "anthro" | where: "gender", "female" %}
    <p>Total: {{ temp.size | default: 0 }}</p>
    {% for chara in temp %}
        <a class="item" href="{{ chara.url }}"><img src="{{ chara | charaPageToIcon }}" loading="lazy" widt="32" height="32"> {{ chara.title }}</a>
    {% endfor %}
    </td>
    <td>
    {% assign temp = all_chara | where: "type", "other" | where: "gender", "female" %}
    <p>Total: {{ temp.size | default: 0 }}</p>
    {% for chara in temp %}
        <a class="item" href="{{ chara.url }}"><img src="{{ chara | charaPageToIcon }}" loading="lazy" widt="32" height="32"> {{ chara.title }}</a>
    {% endfor %}
    </td>
</tr>
<tr>
    <td>Other</td>
    <td>
    {% assign temp = all_chara | where: "type", "humanoid" | where: "gender", "other" %}
    <p>Total: {{ temp.size | default: 0 }}</p>
    {% for chara in temp %}
        <a class="item" href="{{ chara.url }}"><img src="{{ chara | charaPageToIcon }}" loading="lazy" widt="32" height="32"> {{ chara.title }}</a>
    {% endfor %}
    </td>
    <td>
    {% assign temp = all_chara | where: "type", "anthro" | where: "gender", "other" %}
    <p>Total: {{ temp.size | default: 0 }}</p>
    {% for chara in temp %}
        <a class="item" href="{{ chara.url }}"><img src="{{ chara | charaPageToIcon }}" loading="lazy" widt="32" height="32"> {{ chara.title }}</a>
    {% endfor %}
    </td>
    <td>
    {% assign temp = all_chara | where: "type", "other" | where: "gender", "other" %}
    <p>Total: {{ temp.size | default: 0 }}</p>
    {% for chara in temp %}
        <a class="item" href="{{ chara.url }}"><img src="{{ chara | charaPageToIcon }}" loading="lazy" widt="32" height="32"> {{ chara.title }}</a>
    {% endfor %}
    </td>
</tr>
</table>
