---
title: Character category
banner: true
---

<style>
.chara-category a {
  display: inline-block;
  margin: 2px 5px;
  width: 100px;
}
</style>

<table class="chara-category">
<tr><th>Gender \ Type</th><th>Humanoid</th><th>Anthro</th><th>Other</th></tr>
<tr>
    <td>Male</td>
    <td>
    {% assign temp = site.charas | where: "type", "humanoid" | where: "gender", "male" %}
    <p>Total: {{ temp.size | default: 0 }}</p>
    {% for chara in temp %}
        <a class="item" href="{{ chara.url }}"><img src="{{ page | charaPageToIcon }}" loading="lazy" widt="32" height="32"> {{ chara.title }}</a>
    {% endfor %}
    </td>
    <td>
    {% assign temp = site.charas | where: "type", "anthro" | where: "gender", "male" %}
    <p>Total: {{ temp.size | default: 0 }}</p>
    {% for chara in temp %}
        <a class="item" href="{{ chara.url }}"><img src="{{ page | charaPageToIcon }}" loading="lazy" widt="32" height="32"> {{ chara.title }}</a>
    {% endfor %}
    </td>
    <td>
    {% assign temp = site.charas | where: "type", "other" | where: "gender", "male" %}
    <p>Total: {{ temp.size | default: 0 }}</p>
    {% for chara in temp %}
        <a class="item" href="{{ chara.url }}"><img src="{{ page | charaPageToIcon }}" loading="lazy" widt="32" height="32"> {{ chara.title }}</a>
    {% endfor %}
    </td>
</tr>
<tr>
    <td>Female</td>
    <td>
    {% assign temp = site.charas | where: "type", "humanoid" | where: "gender", "female" %}
    <p>Total: {{ temp.size | default: 0 }}</p>
    {% for chara in temp %}
        <a class="item" href="{{ chara.url }}"><img src="{{ page | charaPageToIcon }}" loading="lazy" widt="32" height="32"> {{ chara.title }}</a>
    {% endfor %}
    </td>
    <td>
    {% assign temp = site.charas | where: "type", "anthro" | where: "gender", "female" %}
    <p>Total: {{ temp.size | default: 0 }}</p>
    {% for chara in temp %}
        <a class="item" href="{{ chara.url }}"><img src="{{ page | charaPageToIcon }}" loading="lazy" widt="32" height="32"> {{ chara.title }}</a>
    {% endfor %}
    </td>
    <td>
    {% assign temp = site.charas | where: "type", "other" | where: "gender", "female" %}
    <p>Total: {{ temp.size | default: 0 }}</p>
    {% for chara in temp %}
        <a class="item" href="{{ chara.url }}"><img src="{{ page | charaPageToIcon }}" loading="lazy" widt="32" height="32"> {{ chara.title }}</a>
    {% endfor %}
    </td>
</tr>
<tr>
    <td>Other</td>
    <td>
    {% assign temp = site.charas | where: "type", "humanoid" | where: "gender", "other" %}
    <p>Total: {{ temp.size | default: 0 }}</p>
    {% for chara in temp %}
        <a class="item" href="{{ chara.url }}"><img src="{{ page | charaPageToIcon }}" loading="lazy" widt="32" height="32"> {{ chara.title }}</a>
    {% endfor %}
    </td>
    <td>
    {% assign temp = site.charas | where: "type", "anthro" | where: "gender", "other" %}
    <p>Total: {{ temp.size | default: 0 }}</p>
    {% for chara in temp %}
        <a class="item" href="{{ chara.url }}"><img src="{{ page | charaPageToIcon }}" loading="lazy" widt="32" height="32"> {{ chara.title }}</a>
    {% endfor %}
    </td>
    <td>
    {% assign temp = site.charas | where: "type", "other" | where: "gender", "other" %}
    <p>Total: {{ temp.size | default: 0 }}</p>
    {% for chara in temp %}
        <a class="item" href="{{ chara.url }}"><img src="{{ page | charaPageToIcon }}" loading="lazy" widt="32" height="32"> {{ chara.title }}</a>
    {% endfor %}
    </td>
</tr>
</table>
