---
title: Sidekick Skill List
banner: true
---

<p>For simplicity sake, only active and passive skills at level 50 are listed.</p>

{% assign cardInfos = site.data.SidekickMaster | where: "levelZone", 1 %}

<table class="sort-table">
<tr><th data-type="string">Hero</th><th>SPD</th><th data-type="string">Active</th><th>Active VP</th><th data-type="string">Passive</th></tr>
{% for c in cardInfos %}
{% assign page = c.resourceName | resourceNameToPage %}
{% assign g = c.growths[0] %}
<tr>
<td><a class="item" href="{{ page.url }}/#s{{ c.stockId }}-stats"><img src="/cdn/Sprite/icon_{{ c.resourceName }}_s01.png" loading="lazy"> {{ page.title }}</a></td>
<td>{{ g.agility }}</td>
{% assign active = c.skillIds[0] | downcase %}
{% assign passive = c.equipmentSkills[0] | downcase %}
{% assign active_skill = site.data.SkillMaster[active] %}
{% assign passive_skill = site.data.SkillMaster[passive] %}
<td>{% include skill-description.html skill=active_skill %}</td>
<td>{{ active_skill.useView }}</td>
<td>{% include skill-description.html skill=passive_skill %}</td>
</tr>
{% endfor %}
</table>
