---
title: Variant List
banner: true
---

<style>
.grey {
    filter: grayscale(100%);
}
</style>

<p>Each hero has one entry in this table. Hero with no variant at all will be displayed in grayscale.
For hero that has multiple variants, the latest one will be displayed.
</p>

<p>For simplicity's sake, sidekick-only characters are not included here.</p>

{% assign cardInfos = site.data.CardMaster | where: "stockOrder", 1 | where_exp: "item", "item.stockId < 90000" %}
{% assign group = cardInfos | group_by: "characterId" %}

<ul id="hero-list" class="card-list">
{% for gp in group %}
{% assign c = gp.items | last %}
{% if gp.items.size == 1 %}
{% include card-hero.html card=c class="grey" %}
{% else %}
{% include card-hero.html card=c %}
{% endif %}
{% endfor %}
</ul>

<script>
const SVG_NS = "http://www.w3.org/2000/svg";

function screenshot() {
    const svg = document.createElementNS(SVG_NS, "svg");
    svg.setAttribute("xmlns", SVG_NS);
    const herolist = document.querySelector("#hero-list");
    svg.setAttribute("width", herolist.clientWidth + "px");
    svg.setAttribute("height", herolist.clientHeight + "px");
    const foreign = document.createElementNS(SVG_NS, "foreignObject");
    foreign.appendChild(herolist.cloneNode(true));
    foreign.setAttribute("x", 0);
    foreign.setAttribute("y", 0);
    foreign.setAttribute("width", herolist.clientWidth + "px");
    foreign.setAttribute("height", herolist.clientHeight + "px");
    svg.appendChild(foreign);
    console.log(svg);

    const canvas = document.createElement("canvas");
    canvas.width = herolist.clientWidth;
    canvas.height = herolist.clientHeight;
    const ctx = canvas.getContext("2d");

    const xml = new XMLSerializer().serializeToString(svg);
    const img = new Image();
    img.onload = function() {
        ctx.drawImage(img, 0, 0);
        console.log(canvas.toDataURL("image/png"));
    }
    img.src = 'data:image/svg+xml;base64,' + btoa(xml);
}
screenshot();
</script>