/_site
/_site2
.sass-cache
.jekyll-cache/
.jekyll-metadata
*.pyc
**/node_modules
e.txt
*.bat
*.properties
/_data/translation/
/_data/ShopMaster.json
#/_data/EventMaster.json
/_data/SalesMaster.json
/_data/MasterDataCatalog.json
/_charas2/
/cdn/
/_data/processed/SkillUpgradeMaster.json
.DS_Store
sales_report.txt
greeting.sh
test.html
*.tsv
Gemfile.lock

# Local Netlify folder
.netlify
