title: Live A Hero Wiki
url: https://liveahero-wiki.github.io
github_repo: https://github.com/liveahero-wiki/liveahero-wiki.github.io
permalink: /blog/:year/:title/
timezone: Asia/Tokyo
date_format: "%-d %b %Y %R JST"
markdown: kramdown
excerpt_separator: "<!--more-->"
sass:
  style: compressed
plugins:
  #- jekyll-feed
  - jekyll-redirect-from
  #- jekyll-sitemap
  - jemoji
defaults:
  - scope:
      path: ""
    values:
      layout: default
  - scope:
      type: "charas"
    values:
      layout: chara
      unreleased: false
      additional_scripts: ["/assets/atlas.min.js"]
  - scope:
      type: "events"
    values:
      layout: event
      timed_bomb: false
  - scope:
      type: "main_quests"
    values:
      layout: main_quest
  - scope:
      path: "assets"
    values:
      sitemap: false
  - scope:
      type: "posts"
    values:
      layout: post
  - scope:
      path: "google9c8bdece57d6fa9c.html"
    values:
      sitemap: false

collections:
  charas:
    output: true
  events:
    output: true
    sort_by: event_start_time
  main_quests:
    output: true
    sort_by: chapterId

exclude:
  - "*.py"
  - "*.pyc"
  - "*.tsv"
  - "assets/atlas.js"
  #- "assets/atlas.joke.js"
  - readme.md
  - node_modules
  - CONTRIBUTING.md
  - ".git"
  - tools/
  - "cdn/.git"

compress_html:
  ignore:
    envs: ["development"]
