---
layout: default
title: Characters
banner: true
permalink: /charas/
redirect_from: /heroes/
additional_scripts: ["/assets/chara.js"]
---

<h2>Released units</h2>

<button id="collection-btn">Activate Collection Mode</button>

<h3 id="heroes">Heroes</h3>

<div class="chara-sort" data-list="#hero-list">
<button data-sort="id">Card ID</button>
<button data-sort="name">Name</button>
<button data-sort="rarity">Rarity</button>
<button data-sort="element">Element</button>
</div>

{% assign cardInfos = CardMaster | where: "stockOrder", 1 | where_exp: "item", "item.stockId < 90000" %}
<ul id="hero-list" class="card-list">
{% for c in cardInfos %}
{% include card-hero.html card=c %}
{% endfor %}
</ul>

<h3 id="sidekicks">Sidekicks</h3>

<div class="chara-sort" data-list="#sidekick-list">
<button data-sort="id">Card ID</button>
<button data-sort="name">Name</button>
<button data-sort="rarity">Rarity</button>
</div>

{% assign cardInfos = SidekickMaster | where: "levelZone", 1 %}
<ul id="sidekick-list" class="card-list">
{% for c in cardInfos %}
{% include card-sidekick.html card=c %}
{% endfor %}
</ul>

<h2 id="unreleased">Unreleased units</h2>

{% assign unreleased = site.charas | where: "unreleased", true %}
<ul>
{% for chara in unreleased %}
  <li>
      <a href="{{ chara.url }}">{{ chara.title }}</a>
  </li>
{% endfor %}
</ul>
