---
layout: default
title: Characters
banner: true
permalink: /charas/
redirect_from: /heroes/
---

<h2>Released units</h2>

<h3 id="heroes">Heroes</h3>

<div class="chara-sort" data-list="#hero-list">
<button data-sort="id">Card ID</button>
<button data-sort="name">Name</button>
<button data-sort="rarity">Rarity</button>
<button data-sort="element">Element</button>
</div>

{% assign cardInfos = site.data.CardMaster | where: "stockOrder", 1 %}
<ul id="hero-list" class="card-list clearfix">
{% for c in cardInfos %}
{% capture page_cond %}item.path == "_charas/{{ c.resourceName }}.md"{% endcapture %}
{% assign page = site.charas | find_exp: "item", page_cond %}
<li data-id="{{ c.stockId }}" data-rarity="{{ c.rarity }}" data-element="{{ c.element }}" data-name="{{ page.title }}">
<div class="hero-icon">
  <div class="border hero-{{ c.rarity }}"></div>
  <img class="hero-chara-icon" src="/assets/img/icon/icon_{{ c.resourceName }}_h01.png" loading="lazy">
</div>
  <a href="{{ page.url }}#h{{ c.stockId }}">{{ page.title }}</a></li>
{% endfor %}
</ul>

<h3 id="sidekicks">Sidekicks</h3>

<div class="chara-sort" data-list="#sidekick-list">
<button data-sort="id">Card ID</button>
<button data-sort="name">Name</button>
<button data-sort="rarity">Rarity</button>
</div>

{% assign cardInfos = site.data.SidekickMaster | where: "levelZone", 1 %}
<ul id="sidekick-list" class="card-list clearfix">
{% for c in cardInfos %}
{% capture page_cond %}item.path == "_charas/{{ c.resourceName }}.md"{% endcapture %}
{% assign page = site.charas | find_exp: "item", page_cond %}
<li data-id="{{ c.stockId }}" data-rarity="{{ c.rarity }}" data-name="{{ page.title }}">
<div class="sidekick-icon sidekick-{{ c.rarity }}">
  <img src="/assets/img/icon/icon_{{ c.resourceName }}_s01.png">
</div>
  <a href="{{ page.url }}#s{{ c.stockId }}">{{ page.title }}</a></li>
{% endfor %}
</ul>

<h2 id="unreleased">Unreleased units</h2>

{% assign unreleased = site.charas | where: "unreleased", true %}
<ul>
{% for chara in unreleased %}
  <li>
      <a href="{{ chara.url }}">{{ chara.title }}</a>
  </li>
{% endfor %}
</ul>

<script>
function sortList(list, column, btn) {
  const oldOrder = parseInt(btn.dataset.order || '-1', 10);
  const newOrder = 0 - oldOrder;
  btn.dataset.order = newOrder;

  const array = [];
  for (const item of list.children) {
    const value = column == "name" ? item.dataset.name : parseInt(item.dataset[column], 10);
    array.push({value: value, element: item});
  }
  array.sort((lhs, rhs) => {
    return lhs.value > rhs.value ? newOrder : lhs.value < rhs.value ? oldOrder : 0;
  });

  for (const x of array) {
    list.appendChild(x.element);
  }
}
document.querySelectorAll(".chara-sort").forEach(ele => {
  const list = document.querySelector(ele.dataset.list);
  for (const btn of ele.children) {
    btn.addEventListener("click", () => sortList(list, btn.dataset.sort, btn));
  }
  ele.addEventListener("click", (e) => {
    for (const btn of ele.children) {
      if (e.target.dataset.sort !== btn.dataset.sort) btn.dataset.order = "-1";
    }
  });
});
</script>