---
title: Live A Hero Wiki
banner: true
---

<style>
#jst-time {
    text-align: center;
}
#daily-quest-box img {
    height: 100px;
    margin: 5px;
}
#daily-quest-box {
    max-width: 320px;
}
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: .5rem;
    margin: .5rem 0;
}
section {
    border: 1px solid;
    padding: 10px;
    background: #d3f8eb;
}
section h2 {
    padding: 10px;
    margin: 0 0 10px;
    background: rgb(94 203 140);
    text-align: center;
    font-size: 16px;
}
</style>

<img width="800" height="267" src="/assets/img/lah_banner.png" style="margin-bottom: 30px" align="center" alt="Live A Hero banner">

<table class="event-infobox">
<tr><th><a href="/events/">Current Event</a></th></tr>
{% assign current_date = site.time | date: "%s" | plus: 0 %}
{% for event in site.events reversed %}
{% assign event_date = event.event_end_time | date: "%s" | plus: 0 %}
{% assign event_start_date = event.event_start_time | date: "%s" | plus: 0 %}
{% if event.timed_bomb == true and event_start_date > current_date %}{% continue %}{% endif %}
{% if event_date >= current_date %}
<tr><td><img width="600" height="191" style="width: 100%" src="/cdn/Sprite/{{ event.banner_image }}" loading="lazy"></td></tr>
<tr><td data-expiry="{{ event.event_end_time }}"><a href="{{ event.url }}">{{ event.title }}</a> ({{ event.event_start_time | date: "%-d %b %Y" }} ~ {{ event.event_end_time | date: "%-d %b %Y" }})</td></tr>
{% endif %}
{% endfor %}
</table>

<div class="grid-wrapper">

<section>

<h2>Overview</h2>

<p>Live A Hero (LAH) is a turn-based mobile RPG developed by Lifewonders.</p>

<p>The main character can play with a character selected from 4 types of appearance, 5 types of voice, and 3 types of gender identity.</p>
<p>The setting of the main character, including the name, can be changed at any time later as an option.</p>

<p>In addition, it is a turn-based command battle RPG that allows you to develop characters simply by forming a team in any combination and leaving it alone.</p>
</section>

<section>
<h2>Core Information</h2>

<ul>
<li>Name: Live (pronounced "live" as in "livestream/ live broadcast") A Hero</li>
<li>Launch Date: 30 September 2020</li>
<li><a href="https://live-a-hero.jp/">Official Website</a></li>
<li><a href="https://twitter.com/lah_lw">Official Twitter</a></li>
<li><a href="https://play.google.com/store/apps/details?id=jp.co.lifewonders.liveahero">Download on Google Play</a></li>
<li><a href="https://apps.apple.com/jp/app/id1474209512">Download on the Apple App Store</a></li>
</ul>
</section>

</div>

<section>
<h2>Tokyo Time</h2>
<div id="jst-time"></div>
</section>

<div class="grid-wrapper">

<section>
<h2>Daily Quest</h2>
<div id="daily-quest-box"></div>
</section>

<section>
<h2>Community Links</h2>

<ul>
<li><a href="https://wikiwiki.jp/live-a-hero/">LAH Japanese Wiki</a></li>
<li><a href="https://liveahero-community.github.io/">LAH Chinese Database</a></li>
<li><a href="https://www.reddit.com/r/LiveAHero/">LAH Subreddit</a></li>
<li><a href="https://discord.gg/zpc7PCk">LAH Discord (Herocord)</a></li>
<li><a href="https://tiermaker.com/create/live-a-hero-characters-585406">Character Tier Maker</a></li>
<li><a href="https://housamosummaries.blogspot.com/">Fan Translation Summaries</a></li>
</ul>
</section>

</div>

<section>
<h2>Story</h2>

<p>There's a theory that there are countless parallel universes outside of ours.</p>

<p>“If only I had acted like this back then…” “If only my dreams back then had come true...”</p>

<p>Within these countless parallel universe, there may exist a universe in which such “what if” scenarios is a reality…</p>

<p>The Earth of the future exists in one of these countless universes.</p>

<p>On this planet, a wide variety of earthlings and aliens roam the planet - humans, beast-human aliens, and mechanical life forms. And on that very planet, menaces from a dimension from outer space, Monsters, shows up and battles are waged night and day against them - and the only one who can oppose them are called heroes.</p>

<p>Businesspersons, police officers, teachers, carpenters, fisherfolks, freelancers, etc… People with various jobs will become heroes once these Monsters appear on their doorstep. With the help of “what-ifs” - the power of the universe of unlimited potential realities, these people are able to harness their power by embodying their dreams and steely resolute and fight against the looming threat in front of them.</p>

<p>And you, through a strange turn of events, have been hired to support these very heroes. You shall become the source and beacon to provide power to the heroes by helping them to live stream their battles, by observing the infinite "possibilities" hidden deep within the people around you…</p>

<p>&gt;&gt;&gt; Continue on <a href="/main_quests/">Main Quests</a></p>
</section>

<script>
const jstTime = document.querySelector("#jst-time");
const dailyBox = document.querySelector("#daily-quest-box");
function updateJstTime() {
    jstTime.textContent = new Date().toLocaleString('en-US', {timeZone: 'Asia/Tokyo'});
}
setInterval(updateJstTime, 1000);
const dailys = [["earth", "shadow"], ["light"], ["fire"], ["water"], ["earth"], ["shadow"], ["light", "fire", "water"]];
const ranks = [4, 5, 6];
function test() {
    const d = new Date();
    const jst = d.getTime() + (60*9 + d.getTimezoneOffset()) * 60000;
    console.log(jst);
    const elements = dailys[new Date(jst).getUTCDay()];
    for (const e of elements)
    for (const rank of ranks) {
        const img = new Image();
        img.src = `/cdn/Sprite/item_rank${rank}_${e}.png`;
        dailyBox.appendChild(img);
    }
}
test();

</script>
