---
title: Voice Actor
banner: true
---

{% assign heroes = site.data.CardMaster | where: "stockOrder", 1 | where_exp: "item", "item.stockId < 90000" %}
{% assign sidekicks = site.data.SidekickMaster | where: "levelZone", 1 %}

{% assign groups = heroes | concat: sidekicks | processCharaGroup: "characterVoice", site.data.wiki.VoiceActor | sort: "en" %}

<ul id="markdown-toc">
{% for human in groups %}
{% if human.name == "—" %}{% continue %}{% endif %}
{% assign en = human.en | default: human.name %}
<li><a href="#{{ en | slugify }}">{{ en }}</a></li>
{% endfor %}
</ul>

{% for human in groups %}
{% if human.name == "—" %}{% continue %}{% endif %}

{% if human.en %}
<h3 id="{{ human.en | slugify }}">
<a href="#{{ human.en | slugify }}"></a>
{{ human.en }} ({{ human.name }})</h3>
{% else %}
<h3 id="{{ human.name | slugify }}">
<a href="#{{ human.name | slugify }}"></a>
{{ human.name }}</h3>
{% endif %}

{% assign voice_actor = site.data.wiki.VoiceActor[human.name] %}
{% if voice_actor.twitter or voice_actor.talent %}
<ul>
{% if voice_actor.twitter %}<li>X/Twitter: <a href="https://x.com/{{ voice_actor.twitter }}">@{{ voice_actor.twitter }}</a></li>{% endif %}
{% if voice_actor.talent %}<li>Talent Profile: <a href="{{ voice_actor.talent }}">[Link]</a></li>{% endif %}
</ul>
{% endif %}

<ul class="card-list">
{% for item in human.items %}
{% if item.stockOrder %}
{% include card-hero.html card=item %}
{% else %}
{% include card-sidekick.html card=item %}
{% endif %}
{% endfor %}
</ul>
{% endfor %}
