{% assign locales = "" | split: "," %}
{% assign dataSources = "" | split: "," %}

{% assign jp_data = site.data.processed.jp_bio[include.bio] %}
{% assign en_data = site.data.processed.en_bio[include.bio] %}
{% if en_data and en_data != jp_data %}
{% assign locales = locales | push: "en" %}
{% assign dataSources = dataSources | push: site.data.processed.en_bio %}
{% endif %}
{% if jp_data %}
{% assign locales = locales | push: "jp" %}
{% assign dataSources = dataSources | push: site.data.processed.jp_bio %}
{% endif %}

<wiki-tabs class="mini-tabs">
<wiki-tabtitle>{{ include.title }}</wiki-tabtitle>
<wiki-header class="scroll-snap-x">
<nav role="tablist">
{% for locale in locales %}
<a role="tab" aria-controls="bio-{{include.bio | downcase}}-{{ locale }}"
    href="#bio-{{include.bio | downcase}}-{{ locale }}">{{ locale | upcase }}</a>
{% endfor %}
</nav>
</wiki-header>

<wiki-tabcontent class="scroll-snap-x">
{% for locale in locales %}
{% assign localeIdx = forloop.index0 %}
<div role="tabpanel" class="tabcontent contain" id="bio-{{include.bio | downcase}}-{{ locale }}" markdown="1">

{{ dataSources[localeIdx][include.bio] }}

</div>
{% endfor %}
</wiki-tabcontent>
</wiki-tabs>