<!DOCTYPE html>
<html>

{% assign page_title = page.title %}
{% if page.url != "/" %}
{% assign page_title = page_title | append: " - Live A Hero Wiki" %}
{% endif %}

<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% if page.hidden %}<meta name="robots" content="noindex">{% endif %}
  <meta name="theme-color" content="#ffa726">

  <link rel="apple-touch-icon" href="{{ site.url }}/assets/img/logo192.png"/>
  <!--<link rel="manifest" href="{{ site.url }}/assets/img/manifest.json"/>-->
  <meta name="description" content="Live A Hero Wiki"/>
  <meta property="og:title" content="{{ page_title }}"/>
  <meta property="og:site_name" content="Live A Hero Wiki"/>
  <meta property="og:description" content="{{ page_title }}"/>
{% if page.characterId %}
{% assign cardId = page.characterId | times: 100 | plus: 100011 | downcase %}
  <meta property="og:image" content="{{ site.url }}/cdn/Sprite/icon_{{ site.data.SidekickMaster[cardId].resourceName }}_s01.png"/>
{% else %}
  <meta property="og:image" content="{{ site.url }}/assets/img/logo512.png"/>
{% endif %}

  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace: 'index.html', '' }}">
  <style>{% include style/tabs.min.css %}</style>
  <style>{% include style/tippy.min.css %}</style>
</head>

<body>
  <div class="sidebar">
    <header class="sidebar__logo" role="banner">
      <img src="/assets/img/logo.png" width="250" height="98" loading="lazy">
    </header>
    <nav class="sidebar__nav">
      <div class="sidebar__nav-interior">
        <form action="https://www.google.com/search" method="get">
          <input class="search-box" type="search" name="q" placeholder="Search" aria-label="Search" autocomplete="off"/>
          <input type="hidden" name="sitesearch" value="{{ site.url }}" />
        </form>
        <h3 class="section__header">Wiki</h3>
        <ul>
          <li>
            <a href="/">Main page</a>
          </li>
          <li>
            <a href="{{ site.github_repo }}/commits/master">Recent changes</a>
          </li>
          <li>
            <a href="{{ site.github_repo }}/">Open source</a>
          </li>
          <li>
            <a href="/blog/">Wiki Blog</a>
          </li>
          <li>
            <a href="/faq/">FAQ</a>
          </li>
        </ul>
        <h3 class="section__header">Catalogs</h3>
        <ul>
          <li>
            <a href="/events/">Events</a>
          </li>
          <li>
            <a href="/charas/#heroes">Heroes</a>
          </li>
          <li>
            <a href="/charas/#sidekicks">Sidekicks</a>
          </li>
          <li>
            <a href="/charas/#unreleased">Unreleased units</a>
          </li>
          <li>
            <a href="/mobs/">Mobs and Enemies</a>
          </li>
          <li>
            <a href="/affiliations/">Affiliations</a>
          </li>
          <li>
            <a href="/illustrators/">Illustrators</a>
          </li>
          <li>
            <a href="/voice_actors/">Voice Actors</a>
          </li>
          <li>
            <a href="/main_quests/">Main Quests</a>
          </li>
          <li>
            <a href="/chara_quests/">Character Quests</a>
          </li>
          <li>
            <a href="/misc/">More...</a>
          </li>
        </ul>
        <h3 class="section__header">Basic Information</h3>
        <ul>
          <li>
            <a href="/guide/">Getting Started</a>
          </li>
          <li>
            <a href="/guide/hero/">Hero</a>
          </li>
          <li>
            <a href="/guide/sidekick/">Sidekick</a>
          </li>
          <li>
            <a href="/guide/gacha/">Gacha</a>
          </li>
          <li>
            <a href="/guide/user_rank/">Stamina and User Rank</a>
          </li>
          <li>
            <a href="/guide/battle/">Battle</a>
          </li>
          <li>
            <a href="/guide/quest/">Quest</a>
          </li>
          <li>
            <a href="/guide/quest_scenario/">Quest Scenario</a>
          </li>
          <li>
            <a href="/guide/challenge_simulator/">Challenge Simulator</a>
          </li>
          <li>
            <a href="/guide/shop/">Shop</a>
          </li>
          <li>
            <a href="/guide/login_bonus/">Login Bonus</a>
          </li>
          <li>
            <a href="/guide/mission/">Mission</a>
          </li>
          <li>
            <a href="/guide/sale/">Sale</a>
          </li>
          <li>
            <a href="/guide/training/">Training</a>
          </li>
          <li>
            <a href="/guide/parallel_weapon/">Parallel Weapon Remodelling</a>
          </li>
          <li>
            <a href="/guide/skill_manual/">Skill Manual</a>
          </li>
          <li>
            <a href="/guide/engraving_enhancement/">Engraving Enhancement</a>
          </li>
          <li>
            <a href="/guide/office/">Office</a>
          </li>
          <li>
            <a href="/guide/blooming/">Bloom & Skill Tree</a>
          </li>
          <li>
            <a href="/guide/unexplored/">Unexplored</a>
          </li>
        </ul>
        <h3 class="section__header">Tools</h3>
        <ul>
          <li>
            <a href="https://github.com/liveahero-wiki/liveahero-wiki.github.io/upload/master/assets/img">Upload image</a>
          </li>
        </ul>
        <h3 class="section__header">Contributing</h3>
        <ul>
          <li>
            <a href="/contributing/">How to contribute</a>
          </li>
          <li>
            <a href="/contributing/writing/">Writing Guide</a>
          </li>
          <li>
            <a href="/contributing/programming/">Programming Guide</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="content__overlay"></div>
