<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}{% if page.url != "/" %} - Live A Hero Wiki{% endif %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% if page.hidden %}<meta name="robots" content="noindex">{% endif %}
  <meta name="theme-color" content="#ffa726">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace: 'index.html', '' }}">
</head>

<body>
  <div class="sidebar">
    <header class="sidebar__logo" role="banner">
      <img src="/assets/img/logo.png">
    </header>
    <nav class="sidebar__nav">
      <div class="sidebar__nav-interior">
        <h3 class="section__header">Wiki</h3>
        <ul>
          <li>
            <a href="/">Main page</a>
          </li>
          <li>
            <a href="https://github.com/liveahero-wiki/liveahero-wiki.github.io/commits/master">Recent changes</a>
          </li>
          <li>
            <a href="https://github.com/liveahero-wiki/liveahero-wiki.github.io/">Open source</a>
          </li>    
        </ul>
        <h3 class="section__header">Catalogs</h3>
        <ul>
          <li>
            <a href="/charas/#heroes">Heroes</a>
          </li>
          <li>
            <a href="/charas/#sidekicks">Sidekicks</a>
          </li>
          <li>
            <a href="/charas/#unreleased">Unreleased units</a>
          </li>
        </ul>
        <h3 class="section__header">Basic Information</h3>
        <ul>
          <li>
            <a href="/guide/">Getting Started</a>
          </li>
          <li>
            <a href="/guide/user_rank/">Stamina and User Rank</a>
          </li>
          <li>
            <a href="/guide/quest/">Quest</a>
          </li>
          <li>
            <a href="/guide/battle">Battle</a>
          </li>
          <li>
            <a href="/guide/hero/">Hero</a>
          </li>
          <li>
            <a href="/guide/sidekick/">Sidekick</a>
          </li>
          <li>
            <a href="/guide/quest_scenario/">Quest Scenario</a>
          </li>
          <li>
            <a href="/guide/sale/">Sale</a>
          </li>
          <li>
            <a href="/guide/training">Training</a>
          </li>
          <li>
            <a href="/guide/gacha/">Gacha</a>
          </li>
          <li>
            <a href="/guide/shop/">Shop</a>
          </li>
          <li>
            <a href="/guide/login_bonus">Login Bonus</a>
          </li>
          <li>
            <a href="/guide/mission/">Mission</a>
          </li>
        </ul>
        <h3 class="section__header">Tools</h3>
        <ul>
          <li>
            <a href="https://github.com/liveahero-wiki/liveahero-wiki.github.io/upload/master/assets/img">Upload image</a>
          </li>
        </ul>
        <h3 class="section__header">Contributing</h3>
        <ul>
          <li>
            <a href="/contributing/">How to contribute</a>
          </li>
          <li>
            <a href="/contributing/writing/">Writing Guide</a>
          </li>
          <li>
            <a href="/contributing/programming/">Programming Guide</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="content__overlay"></div>
