{% assign cardInfos = site.data.CardMaster | where: "stockId", include.stockId %}

{% assign firstCardInfo = cardInfos | first %}

{% capture artwork_cond %}item.path contains "fg_{{ firstCardInfo.resourceName }}_h"{% endcapture %}
{% assign artworks = site.static_files | where: "fg", true | where_exp: "item", artwork_cond | map: "path" %}

<div id="h{{ include.stockId }}" class="element{{ firstCardInfo.element }}">
    <div class="heroinfobox">
        <div class="header">
            <div class="name">{{ page.name }}</div>
            <div class="sub">{{ firstCardInfo.cardName }}</div>
        </div>
        {% include hero-infobox-gallery.html artworks=artworks %}
        <table>
            <tbody>
                <tr>
                    <th>Attribute</th>
                    <td>{% include hero-element.html element=firstCardInfo.element %}</td>
                    <th>Role</th>
                    <td>{% include hero-role.html role=firstCardInfo.role %}</td>
                </tr>
                <tr>
                    <th colspan="2">Illustration</th>
                    <td colspan="2">{{ firstCardInfo.illustrator }}</td>
                </tr>
                <tr>
                    <th colspan="2">Voice</th>
                    <td colspan="2">{{ firstCardInfo.characterVoice }}</td>
                </tr>
                <tr>
                    <th colspan="2">Occupation</th>
                    <td colspan="2">{{ firstCardInfo.job }}</td>
                </tr>
                <tr>
                    <th colspan="2">Affliation office</th>
                    <td colspan="2">{{ firstCardInfo.affiliationOffice }}</td>
                </tr>
            </tbody>
        </table>
    </div>

{% assign detail_prefix = firstCardInfo.resourceName | upcase | prepend: "DETAIL_" %}
{% assign bio_h01 = detail_prefix | append: "_H01" %}
<details>
<summary>Personal Data 1</summary>
<p>{{ site.data.processed.jp_bio[bio_h01] }}</p>
</details>
{% if include.BIO_H01 %}
<details>
<summary>Personal Data 1 (Translated)</summary>
<p>{{ include.BIO_H01 }}</p>
</details>
{% endif %}

{% assign bio_h02 = detail_prefix | append: "_H02" %}
<details>
<summary>Personal Data 2</summary>
<p>{{ site.data.processed.jp_bio[bio_h02] }}</p>
</details>
{% if include.BIO_H02 %}
<details>
<summary>Personal Data 2 (Translated)</summary>
<p>{{ include.BIO_H02 }}</p>
</details>
{% endif %}


{% assign skillIds = firstCardInfo.skillIds %}
{% for cardInfo in cardInfos %}
{% unless forloop.first %}
{% for id in cardInfo.skillIds %}
{% unless skillIds contains id %}{% assign skillIds = skillIds | push: id %}{% endunless %}
{% endfor %}
{% endunless %}
{% endfor %}
<h2>Stats</h2>
    
<div class="hero3">
    <table>
        <tr>
            <th>Rarity</th><th>Level</th><th>HP</th><th>ATK</th><th>SPD</th><th>View</th>
        </tr>
        {% assign startLevel = 1 %}
        {% for cardInfo in cardInfos %}
        {% assign maxLevel = cardInfo.rarity | times: 10 %}
        {% for growth in cardInfo.growths %}
        {% if growth.level >= startLevel %}
        {% if growth.level > maxLevel %}{% break %}{% endif %}
        {% if startLevel == growth.level %}<tr style="border-top-style: solid; border-width: 3px;">{% else %}<tr>{% endif %}
            <td>{{ cardInfo.rarity }} ☆</td><td>{{ growth.level }}</td><td>{{ growth.hp }}</td><td>{{ growth.attack }}</td><td>{{ growth.agility }}</td><td>{{ growth.addView }}</td>
        </tr>
        {% assign startLevel = growth.level %}
        {% endif %}
        {% endfor %}
        {% endfor %}
    </table>
</div>
{% comment %}{% for cardInfo in cardInfos %}
<div class="hero{{ cardInfo.rarity }}">
    <h3>{{ cardInfo.rarity }} ☆</h3>
    <table>
        <tr>
            <th>Level</th><th>HP</th><th>ATK</th><th>SPD</th><th>View</th>
        </tr>
        {% for growth in cardInfo.growths %}
        <tr>
            <td>{{ growth.level }}</td><td>{{ growth.hp }}</td><td>{{ growth.attack }}</td><td>{{ growth.agility }}</td><td>{{ growth.addView }}</td>
        </tr>
        {% assign maxLevel = cardInfo.rarity | times: 10 %}
        {% if growth.level == maxLevel %}{% break %}{% endif %}
        {% endfor %}
    </table>
</div>
{% endfor %}{% endcomment %}

<h2>Skills</h2>

{% include skill-table.html skillIds=skillIds %}
</div>
