{% assign cardInfos = CardMaster | where: "stockId", include.stockId %}

{% assign firstCardInfo = cardInfos | first %}
{% assign lastCardInfo = cardInfos | last %}
{% assign r = firstCardInfo.resourceName %}
{% if firstCardInfo.rarity >= 3 %}
{% capture sprites %}fg_{{ r }}_h01,fg_{{ r }}_h01_skin1,fg_{{ r }}_h02,fg_{{ r }}_h02_skin1{% endcapture %}
{% else %}
{% capture sprites %}fg_{{ r }}_h01,fg_{{ r }}_h01_skin1{% endcapture %}
{% endif %}
{% if include.extra_sprites %}
{% assign sprites = sprites | append: "," | append: include.extra_sprites %}
{% endif %}

{% assign stockId = include.stockId | downcase %}
{% assign cardProfileOverride = site.data.processed.CardProfileOverride[stockId].hero %}
{% assign overrideIllustrator = site.data.processed.jp_profile[cardProfileOverride.illustrator] %}
{% assign overrideAffiliation = site.data.processed.jp_profile[cardProfileOverride.affiliation] %}
{% assign overridejob = site.data.processed.jp_profile[cardProfileOverride.job] %}

<div id="h{{ include.stockId }}" role="tabpanel" tabindex="0"  class="tabcontent contain element{{ firstCardInfo.element }}">
{% include hero-infobox-profile.html stockId=include.stockId firstCardInfo=firstCardInfo sprites=sprites isHero=true %}

{% assign detail_prefix = firstCardInfo.resourceName | upcase | prepend: "DETAIL_" %}
{% assign bio_h01 = detail_prefix | append: "_H01" %}
<details>
<summary>Personal Data 1</summary>
<p>{{ processed.jp_bio[bio_h01] }}</p>
</details>
{% if include.BIO_H01 != "" %}
<details open markdown="1">
<summary>Personal Data 1 (Translated)</summary>

{{ include.BIO_H01 }}

</details>
{% endif %}

{% if firstCardInfo.rarity >= 3 %}
{% assign bio_h02 = detail_prefix | append: "_H02" %}
<details>
<summary>Personal Data 2</summary>
<p>{{ processed.jp_bio[bio_h02] }}</p>
</details>
{% if include.BIO_H02 != "" %}
<details open markdown="1">
<summary>Personal Data 2 (Translated)</summary>

{{ include.BIO_H02 }}

</details>
{% endif %}
{% endif %}

{% assign spoiler_detail_h01 = site.data.processed.jp_bio[cardProfileOverride.detail_h01] %}
{% assign spoiler_detail_h02 = site.data.processed.jp_bio[cardProfileOverride.detail_h02] %}
{% if spoiler_detail_h01 or spoiler_detail_h02 %}
<details style="margin-top: 30px">
<summary>Spoilers</summary>

{% if spoiler_detail_h01 %}
<details>
<summary>Personal Data 1</summary>
<p>{{ spoiler_detail_h01 }}</p>
</details>
{% endif %}

{% if spoiler_detail_h02 %}
<details>
<summary>Personal Data 2</summary>
<p>{{ spoiler_detail_h02 }}</p>
</details>
{% endif %}

</details>
{% endif %}

<h2 id="h{{ include.stockId }}-stats">Stats</h2>
    
<div class="table-scroll">
    <table>
        <tr>
            <th>Rarity</th><th>Level</th><th>HP</th><th>ATK</th><th>SPD</th><th>View</th>
        </tr>
        {% assign startLevel = 1 %}
        {% for cardInfo in cardInfos %}
        {% assign maxLevel = cardInfo.rarity | times: 10 %}
        {% for growth in cardInfo.growths %}
        {% if growth.level >= startLevel %}
        {% if growth.level > maxLevel %}{% break %}{% endif %}
        {% if startLevel == growth.level %}<tr style="border-top-style: solid; border-width: 3px;">{% else %}<tr>{% endif %}
            <td>{{ cardInfo.rarity }} ☆</td><td>{{ growth.level }}</td><td>{{ growth.hp }}</td><td>{{ growth.attack }}</td><td>{{ growth.agility }}</td><td>{{ growth.addView }}</td>
        </tr>
        {% assign startLevel = growth.level %}
        {% endif %}
        {% endfor %}
        {% endfor %}
    </table>
</div>

<h2>Skills</h2>

{% assign skillIds = firstCardInfo.skillIds %}
{% assign changeSkillIds = firstCardInfo.skillProvider.activeSkills | concat: firstCardInfo.skillProvider.passiveSkills | collect_change_skills %}
<!-- {{ changeSkillIds | jsonify }} -->

{% include skill-table-v2.html skillIds=skillIds split=true first=true
    changeSkillIds=changeSkillIds %}

{% if firstCardInfo.rarity == 1 %}
    {% assign threeStar = cardInfos[2] %}
    {% assign threeStarSkillIds = "" | split: "," | push: threeStar.skillIds[2] %}
    <div class="re-split"><b>Skill 3 obtained at rarity 3 ☆</b></div>
    {% include skill-table-v2.html skillIds=threeStarSkillIds split=true %}
{% else %}
    {% assign threeStar = firstCardInfo %}
{% endif %}

{% assign lastSkillIds = "" | split: "," %}
{% assign changeSkillIds = lastCardInfo.skillProvider.activeSkills | concat: lastCardInfo.skillProvider.passiveSkills | collect_change_skills %}
<!-- {{ changeSkillIds | jsonify }} -->
{% assign skillUpgradedIndex = 1 %}
{% for id in lastCardInfo.skillIds %}
    {% unless threeStar.skillIds contains id %}
        {% assign lastSkillIds = lastSkillIds | push: id %}
        {% break %}
    {% endunless %}
    {% assign skillUpgradedIndex = skillUpgradedIndex | plus: 1 %}
{% endfor %}
{% if firstCardInfo.rarity == 5 %}
    <div class="re-split"><b>Skill {{ skillUpgradedIndex }} upgraded at rarity 6 ☆</b></div>
{% else %}
    <div class="re-split"><b>Skill {{ skillUpgradedIndex }} upgraded at rarity 5 ☆</b></div>
{% endif %}
{% include skill-table-v2.html skillIds=lastSkillIds split=true last=true index=skillUpgradedIndex
    changeSkillIds=changeSkillIds %}

{% if site.data.wiki.HeroSkillEvolution[stockId] != nil %}
{% include hero-skill-evolution.html stockId=include.stockId %}
{% endif %}

</div>
