{% capture artwork_cond %}item.path contains "{{ include.sprite_prefix }}"{% endcapture %}
{% assign artworks = site.static_files | where: "hero_sprites", true | where_exp: "item", artwork_cond | map: "path" %}
{% assign first_art = artworks | first | default: "" %}
<style>
.transientBox {
    display: inline-block;
    border: #aaa 1px solid;
    padding: 18px;
    background-color: #f9f9f9;
    max-width: 640px;
}
.transientBox .tabs span {
    padding: 0 10px;
}
</style>
<script>const data = {{ artworks | jsonify }}</script>

<div class="transientBox">
    <!--<div class="tabs"><span class="selected" data-id="0" data-voice="nekros2"
            style="background-color: rgb(229, 204, 255);">Traveling Sorcerer</span><span class="" data-id="1"
            data-voice="nekros">Lifeless Emperor</span></div>-->
    <div class="transient0 nether">
        <div class="header">
            <td class="caption">
                <div class="name">{{ include.name }}</div>
                <div class="sub">{{ include.jp_name }}</div>
            </td>
        </div>
        <div class="artwork"><img src="{{ first_art }}" loading="lazy" style="padding: 0px 159px;" data-failed="false">
            <select class="spriteSelector"></select>
        </div>
        <div class="body">
            <table class="data transientInfo0">
                <tbody>
                    <tr>
                        <th>Illustration</th>
                        <td>{{ include.illustrator }}</td>
                    </tr>
                    <tr>
                        <th>Voice</th>
                        <td>{{ include.voice_actor }}</td>
                    </tr>
                    <tr>
                        <th>Race</th>
                        <td>{{ include.race }}</td>
                    </tr>
                    <tr>
                        <th>Occupation</th>
                        <td>{{ include.occupation }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>