{% if include.mob != true %}
<blockquote>
<p>Unreleased units often contain sprites that are not used in any available quests. Please respect those
who do not wish to be spoiled about future content.</p>
</blockquote>
{% endif %}

<div class="elementNone">
    <div class="heroinfobox">
        <div class="header">
            <div class="name">{{ include.name | default: page.title }}</div>
            <div class="sub">{{ include.jp_name | default: page.jp_name }}</div>
        </div>
        {% include atlas-gallery.html sprites=include.sprites %}
    </div>
</div>
