<details>
<summary>{{ include.key }}</summary>

{%- capture title_key %}LIBRARY_TITLE_{{include.key}}{% endcapture %}
{%- capture page_key %}LIBRARY_PAGE_{{include.key}}{% endcapture %}

{% assign locales = "" | split: "," %}
{% assign dataSources = "" | split: "," %}

{% assign jp_data = site.data.processed.jp_library[page_key] %}
{% assign en_data = site.data.processed.en_library[page_key] %}
{% assign hans_data = site.data.processed.hans_library[page_key] %}
{% assign hant_data = site.data.processed.hant_library[page_key] %}
{% if en_data and en_data != jp_data %}
    {% assign locales = locales | push: "en" %}
    {% assign dataSources = dataSources | push: site.data.processed.en_library %}
{% endif %}
{% if jp_data %}
    {% assign locales = locales | push: "jp" %}
    {% assign dataSources = dataSources | push: site.data.processed.jp_library %}
{% endif %}
{% if hans_data and hans_data != jp_data %}
    {% assign locales = locales | push: "hans" %}
    {% assign dataSources = dataSources | push: site.data.processed.hans_library %}
{% endif %}
{% if hant_data and hant_data != jp_data %}
    {% assign locales = locales | push: "hant" %}
    {% assign dataSources = dataSources | push: site.data.processed.hant_library %}
{% endif %}

<wiki-tabs class="mini-tabs">
<wiki-header class="scroll-snap-x">
<nav role="tablist">
{% for locale in locales %}
    <a role="tab" aria-controls="library-{{include.key | downcase}}-{{ locale }}" href="#library-{{include.key | downcase}}-{{ locale }}">{{ locale | convertLang }}</a>
{% endfor %}
</nav>
</wiki-header>

<wiki-tabcontent class="scroll-snap-x">
{% for locale in locales %}
{% assign localeIdx = forloop.index0 %}
<div role="tabpanel" class="tabcontent contain" id="library-{{include.key | downcase}}-{{ locale }}">
    <h3>{{ dataSources[localeIdx][title_key] | sanitizePlayerName }}</h3>
    <p>{{ dataSources[localeIdx][page_key] | sanitizePlayerName }}</p>
</div>
{% endfor %}
</wiki-tabcontent>
</wiki-tabs>

</details>