{% assign qid = include.id | downcase %}
{% assign Q = QuestMaster[qid] %}
<details id="q{{ qid }}">
<summary><span class="item"><img src="/cdn/Sprite/{{ Q.iconFilename }}.png"></span> {{ Q.questName }}{% if Q.subName %} ({{ Q.subName }}){% endif %}</summary>
<table class="quest-infobox">
<tr><th>Level</th><td>{{ Q.enemyLevel }}</td></tr>
{% assign item_cost = "" | split: "," %}
{% for cond in Q.conditions %}
{% case cond.class %}
{% when "Stamina" %}
<tr><th>Stamina</th><td>{{ cond.stamina }}</td></tr>
{% when "QuestClear" %}
{% assign pqid = cond.questId | downcase %}
<tr><th>Required Quest</th><td><a href="#q{{ pqid }}">{{ QuestMaster[pqid].questName }}</a></td></tr>
{% when "ItemConsume" %}
{% assign item_cost = item_cost | push: cond %}
{% when "HavingStockCard" %}
<tr><th>Card</th><td><ul>
{% for id in cond.stockIds %}
<li>Any form of {{ id | stockIdToLink: 2 }}</li>
{% break %}{% comment %}Only use the first stockId, since they are usually refer to the same chara anyway{% endcomment %}
{% endfor %}
</ul></td></tr>
{% else %}
<tr><td>Unknown condition ({{ cond.class }})</td></tr>
{% endcase %}
{% endfor %}

{% if item_cost.size > 0 %}
<tr><th>Item Cost</th><td>
<ul>
{% for cond in item_cost %}
<li>{% include item.html id=cond.itemId %} x {{ cond.value }}</li>
{% endfor %}
</ul>
</td></tr>
{% endif %}

{% if Q.endAt %}
<tr><th>End Time</th><td data-expiry="{{ Q.endAt | append: '+09' }}">{{ Q.endAt | date: site.date_format }}</td></tr>
{% endif %}

{% if Q.enemies.size > 0 %}
<tr><th>Enemies</th><td>
{% for enemy in Q.enemies %}
<div class="hero-icon" data-element="{{ enemy.battleInfoElement }}">
<img class="hero-chara-icon" src="/cdn/Sprite/{{ enemy.battleInfoIcon }}.png" loading="lazy">
</div>
{% endfor %}
</td></tr>
{% endif %}

{% if Q.rewards.size > 0 %}
<tr><th>Rewards</th><td>
<ul>
{% for reward in Q.rewards %}
<li>{% include item.html id=reward.objectId rewardType=reward.rewardType %} x {{ reward.objectValue }}</li>
{% endfor %}
</ul>
</td></tr>
{% endif %}

{% if Q.drops.size > 0 %}
<tr><th>Drops</th><td>
<ul>
{% for drop in Q.drops %}
<li>{% include item.html id=drop.objectId %} x {{ drop.objectValue }} ({{ drop.prob }}%)</li>
{% endfor %}
</ul>
</td></tr>
{% endif %}

{% if Q.scoreAttackBonuses.size > 0 %}
<tr><th>Atk Bonus</th><td><table>
{% for bonus in Q.scoreAttackBonuses %}
<tr><th>{{ wiki.UITranslation[bonus.description] | default: bonus.description }}</th>
<td>
{% for chara in bonus.characters %}
{{ chara.stockId | stockIdToLink: chara.cardType }}
{% endfor %}
</td></tr>
{% endfor %}
</table></td></tr>
{% endif %}

{% if Q.scoreAttackStandards.size > 0 %}
<tr><th>Score Standard</th><td>
<ul>
{% for bonus in Q.scoreAttackStandards %}
<li>{{ wiki.UITranslation[bonus.label] | default: bonus.label }}
({{ wiki.UITranslation[bonus.description] | default: bonus.description }})
</li>
{% endfor %}
</ul>
</td></tr>
{% endif %}

</table>
</details>
