{% assign id = include.id | downcase %}
{% assign shopData = stores[id] %}
<h2>{{ shopData.storeName }}</h2>
<table>
  <tr>
    <th>Item</th><th>Price</th><th>Stock</th><th>Total cost</th>
  </tr>
  {% for productData in shopData.products %}
  {% assign product = productData.product %}
  {% assign currency = productData.currency %}
  <tr>
    <td>{% include item.html id=product.objectId rewardType=product.rewardType %} x{{ product.objectValue }}</td>
    <td>{% include item.html id=currency.objectId %} x{{ currency.objectValue }}</td>
    <td>{% if productData.exchangeLimit == 0 %}Infinite{% else %}{{ productData.exchangeLimit }}{% endif %}</td>
    <td>{% if productData.exchangeLimit == 0 %}-{% else %}{{ currency.objectValue | times: productData.exchangeLimit }}{% endif %}</td>
  </tr>
  {% endfor %}
</table>
