{% assign cardInfos = SidekickMaster | where: "stockId", include.stockId %}

{% assign firstCardInfo = cardInfos | first %}
{% assign lastCardInfo = cardInfos | last %}
{% assign r = firstCardInfo.resourceName %}
{% if r == "player" %}
{% capture sprites %}fg_player1_s01,fg_player2_s01,fg_player3_s01,fg_player4_s01{% endcapture %}
{% else %}
{% capture sprites %}fg_{{ r }}_s01{% endcapture %}
{% endif %}
{% if include.extra_sprites %}
{% assign sprites = sprites | append: "," | append: include.extra_sprites %}
{% endif %}

{% assign stockId = include.stockId | downcase %}

<div id="s{{ include.stockId }}" role="tabpanel" tabindex="0"  class="tabcontent contain elementNone">
{% include hero-infobox-profile.html stockId=include.stockId firstCardInfo=firstCardInfo sprites=sprites %}

{% assign detail_prefix = firstCardInfo.resourceName | upcase | prepend: "DETAIL_" %}
{% assign bio_s01 = detail_prefix | append: "_S01" %}
<details>
<summary>Side Story</summary>
<p>{{ processed.jp_bio[bio_s01] }}</p>
</details>
{% if include.BIO_S01 != "" %}
<details open markdown="1">
<summary>Side Story (Translated)</summary>

{{ include.BIO_S01 }}

</details>
{% endif %}


{% assign skillIdsActive = firstCardInfo.skillIds %}
{% for cardInfo in cardInfos %}
{% unless forloop.first %}
{% for id in cardInfo.skillIds %}
{% unless skillIdsActive contains id %}{% assign skillIdsActive = skillIdsActive | push: id %}{% endunless %}
{% endfor %}
{% endunless %}
{% endfor %}
{% assign skillIdsPassive = firstCardInfo.equipmentSkills %}
{% for cardInfo in cardInfos %}
{% unless forloop.first %}
{% for id in cardInfo.equipmentSkills %}
{% unless skillIdsPassive contains id %}{% assign skillIdsPassive = skillIdsPassive | push: id %}{% endunless %}
{% endfor %}
{% endunless %}
{% endfor %}
<h2 id="s{{ include.stockId }}-stats">Stats</h2>

<div class="table-scroll">
<table>
    <tr>
        <th>Level</th><th>HP</th><th>ATK</th><th>SPD</th><th>View</th>
    </tr>
{% for cardInfo in cardInfos %}
    {% for growth in cardInfo.growths %}
    {% if cardInfo.sidekickCardId == firstCardInfo.sidekickCardId or growth.level > 1 %}
    <tr>
        <td>{{ growth.level }}</td><td>{{ growth.hp }}</td><td>{{ growth.attack }}</td><td>{{ growth.agility }}</td><td>{{ growth.addView }}</td>
    </tr>
    {% endif %}
    {% endfor %}
{% endfor %}
</table>
</div>

<h2>Skills</h2>
    <h3>Active</h3>
    {% include skill-table-v2.html skillIds=skillIdsActive %}
 
    {% if site.data.translation.SkillV2Whitelist.sidekicks[stockId] != true and include.extraActiveSkillIds.size > 0 %}
    <!-- {{ passiveSkillIds | jsonify }} -->
    {% include skill-table-v2.html skillIds=include.extraActiveSkillIds hide_banner=true %}
    {% endif %}

    <h3>Passive</h3>
    {% include skill-table-v2.html skillIds=skillIdsPassive %}

    {% if site.data.translation.SkillV2Whitelist.sidekicks[stockId] != true and lastCardInfo.equipmentAppendSkills.size > 0 %}
    <!-- {{ passiveSkillIds | jsonify }} -->
    {% assign extraPassiveSkillIds = "" | split: "," | push: lastCardInfo.equipmentAppendSkills[0] %}
    {% include skill-table-v2.html skillIds=extraPassiveSkillIds hide_banner=true %}
    {% endif %}

</div>
