{% assign cardInfos = site.data.SidekickMaster | where: "stockId", include.stockId %}

{% assign firstCardInfo = cardInfos | first %}
{% assign r = firstCardInfo.resourceName %}
{% if r == "player" %}
{% capture sprites %}fg_player1_s01,fg_player2_s01,fg_player3_s01,fg_player4_s01{% endcapture %}
{% else %}
{% capture sprites %}fg_{{ r }}_s01{% endcapture %}
{% endif %}
{% if include.extra_sprites %}
{% assign sprites = sprites | append: "," | append: include.extra_sprites %}
{% endif %}

<div id="s{{ include.stockId }}" role="tabpanel" tabindex="0"  class="tabcontent contain elementNone">
    <div class="heroinfobox">
        <div class="header">
            <div class="name">{{ page.title }}</div>
            <div class="sub">{{ firstCardInfo.cardName }}</div>
        </div>
        {% include atlas-gallery.html sprites=sprites %}
        <table>
            <tbody>
                <tr>
                    <th colspan="2">Illustration</th>
                    <td colspan="2">{% include chara-illustrator.html illustrator=firstCardInfo.illustrator %}</td>
                </tr>
                <tr>
                    <th colspan="2">Voice</th>
                    <td colspan="2">{% include chara-voice-actor.html cv=firstCardInfo.characterVoice %}</td>
                </tr>
                <tr>
                    <th colspan="2">Occupation</th>
                    <td colspan="2">{{ firstCardInfo.job }}</td>
                </tr>
                <tr>
                    <th colspan="2">Affliation office</th>
                    <td colspan="2">{% include chara-affiliation.html affiliation=firstCardInfo.affiliationOffice %}</td>
                </tr>
            </tbody>
        </table>
    </div>

{% assign detail_prefix = firstCardInfo.resourceName | upcase | prepend: "DETAIL_" %}
{% assign bio_s01 = detail_prefix | append: "_S01" %}
<details>
<summary>Side Story</summary>
<p>{{ site.data.processed.jp_bio[bio_s01] }}</p>
</details>
{% if include.BIO_S01 != "" %}
<details open>
<summary>Side Story (Translated)</summary>
<div markdown="block">
{{ include.BIO_S01 }}
</div>
</details>
{% endif %}


{% assign skillIdsActive = firstCardInfo.skillIds %}
{% for cardInfo in cardInfos %}
{% unless forloop.first %}
{% for id in cardInfo.skillIds %}
{% unless skillIdsActive contains id %}{% assign skillIdsActive = skillIdsActive | push: id %}{% endunless %}
{% endfor %}
{% endunless %}
{% endfor %}
{% assign skillIdsPassive = firstCardInfo.equipmentSkills %}
{% for cardInfo in cardInfos %}
{% unless forloop.first %}
{% for id in cardInfo.equipmentSkills %}
{% unless skillIdsPassive contains id %}{% assign skillIdsPassive = skillIdsPassive | push: id %}{% endunless %}
{% endfor %}
{% endunless %}
{% endfor %}
<h2 id="s{{ include.stockId }}-stats">Stats</h2>

<div class="table-scroll">
<table>
    <tr>
        <th>Level</th><th>HP</th><th>ATK</th><th>SPD</th><th>View</th>
    </tr>
{% for cardInfo in cardInfos %}
    {% for growth in cardInfo.growths %}
    {% if cardInfo.sidekickCardId == firstCardInfo.sidekickCardId or growth.level > 1 %}
    <tr>
        <td>{{ growth.level }}</td><td>{{ growth.hp }}</td><td>{{ growth.attack }}</td><td>{{ growth.agility }}</td><td>{{ growth.addView }}</td>
    </tr>
    {% endif %}
    {% endfor %}
{% endfor %}
</table>
</div>

<h2>Skills</h2>
    <h3>Active</h3>
    {% include skill-table-v2.html skillIds=skillIdsActive %}
 
    {% if include.extraActiveSkillIds %}
    {% include skill-table-v2.html skillIds=include.extraActiveSkillIds hide_banner=true %}
    {% endif %}

    <h3>Passive</h3>
    {% include skill-table-v2.html skillIds=skillIdsPassive %}

    {% if include.extraPassiveSkillIds %}
    {% include skill-table-v2.html skillIds=include.extraPassiveSkillIds hide_banner=true %}
    {% endif %}
</div>
