{% capture eid %}{{ include.effect.skillEffectId }}{% endcapture %}
{% assign effectParent = site.data.SkillEffectMaster[eid] %}
{% assign skillEffectJson = effectParent.skillEffectJson %}
{% capture target %}{% include skill-effect-target.html target=effect.effectTarget %}{% endcapture %}
{% assign target = target | strip %}

{% if skillEffectJson.trigger %}(<span class="skill-trigger" data-trigger="{{ skillEffectJson.trigger | escape }}"></span>){% endif %}
{% for effect in skillEffectJson.effects %}
{% case effect.class %}
{% when "Damage" %}
Deal {{ effect.parameter.value }}% of damage to {{ target }}
{% when "ChangeHp" %}
{% if effect.parameter.value >= 0 %}Decrease{% else %}Increase{% endif %} HP by {{ 0 | minus: effect.parameter.value }}% to {{ target }}
{% when "MultipleAttack" %}
ATK {% if effect.parameter.value >= 100 %}Up{% else %}Down{% endif %} by {{ effect.parameter.value | divided_by: 100.0 }}x to {{ target }}
{% when "MultipleBaseView" %}
Base View {% if effect.parameter.value >= 100 %}Up{% else %}Down{% endif %} by {{ effect.parameter.value | divided_by: 100.0 }}x to {{ target }}
{% when "ChangeView" %}
Add {{ effect.parameter.value }} views
{% when "MultipleDefence" %}
DEF {% if effect.parameter.value >= 100 %}Up{% else %}Down{% endif %} by {{ effect.parameter.value | divided_by: 100.0 }}x to {{ target }}
{% when "ChangeAgi" %}
SPD {% if effect.parameter.value >= 0 %}Up{% else %}Down{% endif %} by {{ effect.parameter.value }} to {{ target }}
{% when "RemoveBuff" %}
Remove {{ effect.parameter.value }} buffs from {{ target }}
{% when "ComboPlus" %}
Gain {{ effect.parameter.value }} combos to {{ target }}
{% when "ChangeSkillProve" %}
Proc rate {% if effect.parameter.value >= 0 %}Up{% else %}Down{% endif %} by {{ effect.parameter.value }} for {{ target }}
{% when "MoreTurn" %}
Perform {{ effect.parameter.value }} more action(s)
{% when "Heal" %}
Heal {{ target }} for {{ effect.parameter.value }}% of own ATK value
{% when "NeedViewChange" %}
Skill View cost {% if effect.parameter.value >= 100 %}Up{% else %}Down{% endif %} by ({{ effect.parameter.value | divided_by: 100.0 }})x for {{ target }}
{% when "Cure" %}
Remove {{ effect.parameter.value }} debuff(s) from {{ target }}
{% when "RegistDebuff" %}
{{ effect.parameter.value }}% chance to resist a debuff for {{ target }}
{% when "Provocation" %}
Give {{ target }} Taunt. Opponents can target only {{ target }}
{% when "HealthDamage" %}
Deal {{ effect.parameter.value }}% -> {{ effect.parameter.value | times: 2 }}% as HP goes from Max to 0
{% when "DeleteTurn" %}
Skip {{ effect.parameter.value }} enemy action(s)
{% when "Silence" %}
{{ target }} cannot use view-costing skills
{% when "ComboDamage" %}
Deal {{ effect.parameter.value }}% of damage and {{ effect.parameter.combpMult }}% extra for each combo
{% when "ElementPenetrateDamage" %}
ATK {% if effect.parameter.value >= 100 %}Up{% else %}Down{% endif %} to {{ target }} by {{ effect.parameter.value | divided_by: 100.0 }}x against advantageous elements
{% when "Wait" %}
Make {{ target }} go last
{% when "ComboMultipleAttack" %}
ATK Up by {{ effect.parameter.value }}% to {{ target }} for each combo
{% when "SpdDeferenceMultipleAttack" %}
ATK Up by {{ effect.parameter.spdMult }}% to {{ target }} for each point in speed difference (???)
{% when "Penetration" %}
Make {{ target }} ignore Taunt
{% when "AllAttack" %}
View-costing skills for {{ target }} now target all allies/enemies
{% when "MultipleHp" %}
HP Up by {{ effect.parameter.value | divided_by: 100.0 }}x to {{ target }}
{% when "StatusNumberMultipleAttack" %}
ATK Up by {{ effect.parameter.value }}% to {{ target }} for each {% if effect.parameter.isGoodStatus == 1 %}buff{% else %}debuff{% endif %}
{% when "NeedViewValueChange" %}
Change skill view cost by {{ effect.parameter.value }} for {{ target }}
{% when "IgnoreElement" %}
Make {{ target }} ignore element advantages
{% when "NowViewDamage" %}
Deal {{ effect.parameter.value}}% of damage to {{ target }} + extra {{ effect.parameter.viewMult }}% damage from current views to {{ target }}
{% when "SpdDeferenceDamage" %}
Deal {{ effect.parameter.value}}% of damage to {{ target }} + extra {{ effect.parameter.spdMult }}% damage from speed advantage between caster and {{ target }}
{% when "StatusNumDamage" %}
Deal {{ effect.parameter.value }}% of damage and {{ effect.parameter.statusMult }}% extra for each opponent's {% if effect.parameter.isGoodStatus == 1 %}buff{% else %}debuff{% endif %}
{% when "SalesBonusCheat" %}
Ignore business bonus conditions (?)
{% when "IncreaseLAH" %}
Gain {{ effect.parameter.value }}% extra gold
{% when "IncreaseExp" %}
Gain {{ effect.parameter.value }}% extra XP
{% when "Aggregation" %}
Apply Damage Aggregation status to self
{% else %}
Unknown effect class ({{ effect.class }})
{% endcase %}
{% endfor %}
