{% capture eid %}{{ include.skillEffect.skillEffectId }}{% endcapture %}
{% assign effectParent = site.data.SkillEffectMaster[eid] %}
{% assign skillEffectJson = effectParent.skillEffectJson %}
{% assign target = include.skillEffect.effectTarget | skill_target %}

{{ include.skillEffect.triggerJson | skill_trigger: include.timing }}
{% if skillEffectJson.trigger %}{{ skillEffectJson.trigger | skill_trigger_json: include.timing }}{% endif %}
{% for effect in skillEffectJson.effects %}
{% assign turnDefinition = "action" %}
{% case effect.class %}
{% when "Damage" %}
Deal {{ effect.parameter.value }}% of damage to {{ target }}
{% when "ChangeHp" %}
{% assign turnDefinition = "turn" %}
{% if effect.parameter.value >= 0 %}Decrease{% else %}Increase{% endif %} HP by {{ 0 | minus: effect.parameter.value }}% to {{ target }}
{% when "MultipleAttack" %}
ATK {% if effect.parameter.value >= 100 %}Up{% else %}Down{% endif %} by {{ effect.parameter.value | divided_by: 100.0 }}x to {{ target }}
{% when "MultipleBaseView" %}
Base View {% if effect.parameter.value >= 100 %}Up{% else %}Down{% endif %} by {{ effect.parameter.value | divided_by: 100.0 }}x to {{ target }}
{% when "ChangeView" %}
Add {{ effect.parameter.value }} views
{% when "RateChangeView" %}
Gain {{ effect.parameter.value }}% of self's base view
{% when "MultipleDefence" %}
{% assign turnDefinition = "next attack" %}
{% if effect.parameter.value == 0 %}Ignore incoming damage{% else %}Incoming damage {% if effect.parameter.value >= 100 %}increased{% else %}reduced{% endif %} to {{ effect.parameter.value | divided_by: 100.0 }}x{% endif %} to {{ target }}
{% when "ChangeAgi" %}
SPD {% if effect.parameter.value >= 0 %}Up{% else %}Down{% endif %} by {{ effect.parameter.value }} to {{ target }}
{% when "RemoveBuff" %}
Remove {{ effect.parameter.value }} {% if effect.parameter.target %}{{ effect.parameter.target | status_description }} status{% else %}buff(s){% endif %} from {{ target }}
{% when "RemoveSystemEffect" %}
Remove {{ effect.parameter.value }} {% if effect.parameter.target %}{{ effect.parameter.target | status_description }} status{% else %}system status(es){% endif %} from {{ target }}
{% when "ComboPlus" %}
Gain {{ effect.parameter.value }} combos
{% when "ChangeSkillProve" %}
Proc rate {% if effect.parameter.value >= 0 %}Up{% else %}Down{% endif %} by {{ effect.parameter.value }} for {{ target }}
{% when "MoreTurn" %} 
Perform {{ effect.parameter.value }} more action(s)
{% when "SkillTurnExtension" %}
Extend {{ target }}'s {% if effect.parameter.statusTypeValue == 1 %}buff{% else %}debuff{% endif %} status effect by {{ effect.parameter.value }} turn(s)
{% when "Heal" %}
{% assign turnDefinition = "turn" %}
Heal {{ target }} for {{ effect.parameter.value }}% of own ATK value
{% when "NeedViewChange" %}
{% assign turnDefinition = "turn" %}
Skill View cost {% if effect.parameter.value >= 100 %}Up{% else %}Down{% endif %} by {{ effect.parameter.value | divided_by: 100.0 }}x for {{ target }}
{% when "Cure" %}
Remove {{ effect.parameter.value }} debuff(s) from {{ target }}
{% when "RegistDebuff" %}
{{ effect.parameter.value }}% chance to resist {% if effect.parameter.statusId == 0 %}one debuff{% else %}{{ effect.parameter.statusId | status_description }}{% endif %} for {{ target }}
{% when "Provocation" %}
{% assign turnDefinition = "turn" %}
Give {{ target }} {{ 5 | status_description }}: opponents can target only {{ target }}
{% when "Hide" %}
{% assign turnDefinition = "turn" %}
Give {{ target }} {{ 15 | status_description }}
{% when "HealthDamage" %}
Deal {% if effect.parameter.evaluationIsMax == true %}{{ effect.parameter.value | times: 2 }}% -> {{ effect.parameter.value }}%{% else %}{{ effect.parameter.value }}% -> {{ effect.parameter.value | times: 2 }}%{% endif %} damage to {{ target }} as HP goes from Max to 0
{% when "DeleteTurn" %}
Skip {{ effect.parameter.value }} enemy action(s)
{% when "Silence" %}
{% assign turnDefinition = "turn" %}
{{ target }} cannot use view-costing skills
{% when "AddMultDamage" %}
Deal {{ effect.parameter.value }}% of damage and extra {{ effect.parameter.addMult }}% of damage when condition in bracket is met
{% when "ComboDamage" %}
Deal {{ effect.parameter.value }}% of damage and {{ effect.parameter.value | times: effect.parameter.combpMult | divided_by: 100.0 }}% extra for each combo to {{ target }}
{% when "ElementPenetrateDamage" %}
Deal {{ effect.parameter.value }}% of damage to {{ target }} regardless of elemental advantage
{% when "Wait" %}
Make {{ target }} go last
{% when "CounterAttack" %}
Counter attack the hitting enemy (may consume attack buff as if this is normal attack)
{% when "OwnAttack" %}
Activate self's skill {{ effect.parameter.index | plus: 1 }} if {{ target }} is still alive
{% when "ComboMultipleAttack" %}
ATK Up by {{ effect.parameter.value }}% to {{ target }} for each combo
{% when "SpdDeferenceMultipleAttack" %}
ATK Up by {{ effect.parameter.spdMult }}% to {{ target }} for each point in speed difference (???)
{% when "HighestMultipleAttack" %}
ATK Up by {{ effect.parameter.value }}% to {{ effect.parameter.target | skill_target }}
(If there are overlapping effects with the same type and range, only the one with highest value will be applied)
{% when "Penetration" %}
Make {{ target }} ignore Taunt
{% when "AllAttack" %}
View-costing skills for {{ target }} now target all allies/enemies
{% when "RandomTeamAttack" %}
After attack, if targeted enemy is still alive, random ally will use skill 1 on targeted enemy
{% when "ForceAuto" %}
Force auto action to {{ target }}
{% when "MultipleHp" %}
HP Up by {{ effect.parameter.value | divided_by: 100.0 }}x to {{ target }}
{% when "StatusNumberMultipleAttack" %}
ATK Up by {{ effect.parameter.value }}% to {{ target }} for each {% if effect.parameter.isGoodStatus == true %}buff{% else %}debuff{% endif %}
{% when "NeedViewValueChange" %}
{% assign turnDefinition = "turn" %}
Change skill view cost by {{ effect.parameter.value }} for {{ target }}
{% when "IgnoreElement" %}
Make {{ target }} ignore element advantages
{% when "NowViewDamage" %}
Deal {{ effect.parameter.value }}% -> {{ effect.parameter.value | times:2 }}% of damage to {{ target }} as remaining Views go from 0 to {{ effect.parameter.viewMult | times:10000 }}
{% when "SpdDeferenceDamage" %}
Deal {{ effect.parameter.value }}% of damage to {{ target }} + extra {{ effect.parameter.value | divided_by: 1000.0 | times:effect.parameter.spdMult | times:2 }}% damage for each point in speed difference with target
{% when "StatusNumDamage" %}
Deal {{ effect.parameter.value }}% of damage to {{ target }} and {{ effect.parameter.statusMult }}% extra for each {{ target }}'s {% if effect.parameter.isGoodStatus == true %}buff{% else %}debuff{% endif %}
{% when "SalesBonusCheat" %}
Ignore business bonus conditions (?)
{% when "IncreaseLAH" %}
Gain {{ effect.parameter.value }}% extra gold
{% when "IncreaseExp" %}
Gain {{ effect.parameter.value }}% extra XP
{% when "Aggregation" %}
{% assign turnDefinition = "turn" %}
Apply {{ 26 | status_description }} to {{ target }}: <abbr title="Does not include single target attack">{{ target }} takes full damage of all-ranged attack done to their team</abbr>
{% when "NoneEffect" %}
{% assign turnDefinition = "turn" %}
Apply {{ skillEffectJson.statusId | status_description }} to {{ target }}
{% when "DamageLimit" %}
Enemy hits cannot deal over {{ effect.parameter.value }} damage to {{ target }}
{% when "Ressurection" %}
Resurrect {{ target }} to {{ effect.parameter.value }}% HP
{% when "AimLowestHPCharacter" %}
(Auto action) Skill that targets {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %} will target the lowest HP {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %}
{% when "AimHighestHPCharacter" %}
(Auto action) Skill that targets {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %} will target the highest HP {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %}
{% when "AimLowestAtkCharacter" %}
(Auto action) Skill that targets {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %} will target the lowest ATK {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %}
{% when "AimHighestAtkCharacter" %}
(Auto action) Skill that targets {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %} will target the highest ATK {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %}
{% when "AimLowestSpdCharacter" %}
(Auto action) Skill that targets {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %} will target the lowest SPD {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %}
{% when "AimHighestSpdCharacter" %}
(Auto action) Skill that targets {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %} will target the highest SPD {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %}
{% when "AimBossCharacter" %}
(Auto action) Skill that targets {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %} will target the boss {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %}
{% else %}
Unknown effect class ({{ effect.class }})
{% endcase %}
{% if skillEffectJson.persistence == true %}permanently{% else %}{% if skillEffectJson.turn != 0 %}for {{ skillEffectJson.turn }} {{ turnDefinition | strip }}(s){% endif %}{% endif %}
{% if forloop.last == false %}<br>&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}
{% endfor %}
