{% assign eid = include.skillEffect.skillEffectId | downcase %}
{% assign effectParent = site.data.SkillEffectMaster[eid] %}
{% assign skillEffectJson = effectParent.skillEffectJson %}
{% assign target = include.skillEffect.effectTarget | skill_target %}

{% capture timing %}{% include skill-timing.html timing=include.timing %}{% endcapture %}
{% assign timing = timing | strip %}
[{{ timing }}]
{{ include.skillEffect.triggerJson | skill_trigger: include.timing }}
{% if skillEffectJson.trigger %}{{ skillEffectJson.trigger | skill_trigger_json: include.timing }}{% endif %}

{% assign turnDefinition = "turn" %}
{% case skillEffectJson.filterIds[0] %}
  {% when 1 %}
    {% comment %}Damage{% endcomment %}
  {% when 2 %}
    {% comment %}Heal{% endcomment %}
    {% assign turnDefinition = "turn" %}
  {% when 3 %}
    {% comment %}Gain view{% endcomment %}
    {% assign turnDefinition = "turn" %}
  {% when 4 %}
    {% comment %}ATK up/DEF up{% endcomment %}
    {% assign turnDefinition = "next attack" %}
  {% when 5 %}
    {% comment %}ATK down/DEF down/invincible{% endcomment %}
    {% assign turnDefinition = "next attack" %}
  {% when 6 %}
    {% comment %}SPD up{% endcomment %}
    {% assign turnDefinition = "turn" %}
  {% when 7 %}
    {% comment %}SPD down{% endcomment %}
    {% assign turnDefinition = "turn" %}
  {% when 8 %}
    {% comment %}Change skill proc rate{% endcomment %}
    {% assign turnDefinition = "turn" %}
  {% when 9 %}
    {% comment %}View consumption{% endcomment %}
    {% assign turnDefinition = "turn" %}
  {% when 10 %}
    {% comment %}Combo{% endcomment %}
  {% when 11 %}
    {% comment %}Burn/Poison{% endcomment %}
    {% assign turnDefinition = "turn" %}
  {% when 12 %}
    {% comment %}Hide/provocation{% endcomment %}
    {% assign turnDefinition = "turn" %}
  {% when 13 %}
    {% comment %}Change auto behaviour{% endcomment %}
    {% assign turnDefinition = "turn" %}
{% endcase%}

{%- if skillEffectJson.statusId != 0 and skillEffectJson.statusId != 27 and skillEffectJson.filterIds.size > 0 %}
  {% comment %}/* Start of status display */{% endcomment %}
  {% if skillEffectJson.statusId == 27 %}
     Apply <span class="status tippy" data-id="{{ skillEffectJson.statusId }}" data-content="{{ skillEffectJson.description }}">
      <img src="/cdn/Sprite/{{ skillEffectJson.filename }}.png" loading="lazy">
      {{ skillEffectJson.description }}
    </span> to {{ target }}
  {% elsif skillEffectJson.isOverrideStatusName or skillEffectJson.isOverrideStatusDescription %}
    Apply <span class="status tippy" data-id="{{ skillEffectJson.statusId }}" data-content="{{ skillEffectJson.overrideStatusDescription }}">
      <img src="/cdn/Sprite/{{ skillEffectJson.filename }}.png" loading="lazy">
      {{ skillEffectJson.overrideStatusName }}
    </span> to {{ target }}
  {% else %}
    {% assign status = skillEffectJson.statusId | status_description %}
    Apply {{ status }} to {{ target }}
  {% endif %}

  {% if skillEffectJson.persistence == true -%}
    {% if skillEffectJson.isDisplayPersistenceStatus == true -%}
      permanently
    {% endif -%}
  {% elsif skillEffectJson.turn != 0 -%}
    for {{ skillEffectJson.turn }} {{ turnDefinition }}(s)
  {%- endif -%}
  {%- if skillEffectJson.effects[0].class == "NoneEffectElapseTurnDamage" -%}
    , removed when damaged
  {%- elsif skillEffectJson.effects[0].class == "NoneEffectElapseAfterTurnEnd" -%}
    , removed when current turn ends
  {%- elsif skillEffectJson.effects[0].class == "NoneEffectElapseTurnDamageAndTurnEnd" -%}
    , removed when damaged or current turn ends
  {%- endif -%}
{% else %}

{% for effect in skillEffectJson.effects %}

{% assign turnDefinition = "action" %}
{% case effect.class %}
{% when "Damage" %}
Deal {{ effect.parameter.value }}% of damage to {{ target }}
{% when "NowHPDependDamageLimit" %}
This skill's damage is capped at {{ effect.parameter.mult }}% of {{ target }} HP
{% when "ChangeHp" %}
{% assign turnDefinition = "turn" %}
{% if effect.parameter.value >= 0 %}Decrease{% else %}Increase{% endif %} HP by {{ 0 | minus: effect.parameter.value }}% to {{ target }}
{% when "MultipleAttack" %}
ATK {% if effect.parameter.value >= 100 %}Up{% else %}Down{% endif %} by {{ effect.parameter.value | divided_by: 100.0 }}x to {{ target }}
{% when "MultipleBaseView" %}
Base View {% if effect.parameter.value >= 100 %}Up{% else %}Down{% endif %} by {{ effect.parameter.value | divided_by: 100.0 }}x to {{ target }}
{% when "ChangeView" %}
Add {{ effect.parameter.value }} views
{% when "ChangeViewCoefficient" %}
View gained with view acquisition skill {% if effect.parameter.value >= 100 %}increased{% else %}decreased{% endif %} by {{ effect.parameter.value | divided_by: 100.0 }}x to {{ target }}
{% when "RateChangeView" %}
Gain {{ effect.parameter.value }}% of self's base view
{% when "NotDamageSkillNeedViewValueChange" %}
View cost of self's non-damaging skill changed by {{ effect.parameter.value }}
{% when "MultipleDefence" %}
{% if skillEffectJson.filterIds contains 12 %}
{% assign turnDefinition = "turn" %}
{% else %}
{% assign turnDefinition = "next attack" %}
{% endif %}
{% if effect.parameter.value == 0 %}Nullify incoming damage to {{ target }}{% else %}Incoming damage to {{ target }} {% if effect.parameter.value >= 100 %}increased{% else %}reduced{% endif %} by {{ effect.parameter.value | divided_by: 100.0 }}x{% endif %}
{% when "SpdRateEmitDefence" %}
{% assign turnDefinition = "next attack" %}
With "absolute SPD difference" x{{ effect.parameter.rate }}% chance, {% if effect.parameter.mult == 0 %}ignore incoming damage{% else %}incoming damage {% if effect.parameter.mult >= 100 %}increased{% else %}reduced{% endif %} to {{ effect.parameter.mult | divided_by: 100.0 }}x{% endif %} to {{ target }}
{% when "ChangeAgi" %}
SPD {% if effect.parameter.value >= 0 %}Up{% else %}Down{% endif %} by {{ effect.parameter.value }} to {{ target }}
{% when "RemoveBuff" %}
Remove {{ effect.parameter.value }} {% if effect.parameter.target %}{{ effect.parameter.target | status_description }} status{% else %}buff(s){% endif %} from {{ target }}
{% when "CopyBuff" %}
Copy {{ effect.parameter.value }} {% if effect.parameter.target %}{{ effect.parameter.target | status_description }} status{% else %}buff(s){% endif %} from {{ target }}
{% when "RemoveSystemEffect" %}
Remove {{ effect.parameter.value }} {% if effect.parameter.target %}{{ effect.parameter.target | status_description }} status{% else %}system status(es){% endif %} from {{ target }}
{% when "RegistBuffExecBuffed" %}
Apply "Buff Immunity{% if effect.parameter.value !=0 %} {{ effect.parameter.value }}%{% endif %}" {% if effect.parameter.statusId != 0 %}(for {{ effect.parameter.statusId | status_description }}){% endif %} to {{ target }}
{% when "ComboPlus" %}
Gain {{ effect.parameter.value }} combo(s)
{% when "AddPlusCombo" %}
Gain {{ effect.parameter.value }} combo(s) (Not counted by "when using skill that increases combo")
{% when "ChangeSkillProve" %}
Proc rate {% if effect.parameter.value >= 0 %}Up{% else %}Down{% endif %} by {{ effect.parameter.value }} for {{ target }}
{% when "MoreTurn" %} 
Perform {{ effect.parameter.value }} more action(s)
{% when "SkillTurnExtension" %}
  {% if effect.parameter.value > 0 %}
    Extend
  {% else %}
    Reduce
  {% endif %}
  {% if effect.statusId != 0 %}
    {{ effect.parameter.statusId | status_description }}
  {% else %}
    {% if effect.parameter.statusTypeValue == 1 %}buff{% else %}debuff{% endif %} status effect
  {% endif %}
  by {{ effect.parameter.value | abs }} turn(s){% if effect.parameter.extensionLimit > 0 %}(capped at {{ effect.parameter.extensionLimit }}){% endif %}
{% when "InvokerSkillTurnExtension" %}
  {% if effect.parameter.value > 0 %}
    Extend
  {% else %}
    Reduce
  {% endif %}
  {% if effect.parameter.statusId != 0 %}
    {{ effect.parameter.statusId | status_description }}
  {% else %}
    all allies' {% if effect.parameter.statusTypeValue == 1 %}buff{% else %}debuff{% endif %} status effect (bestowed by allies)
  {% endif %}
  by {{ effect.parameter.value | abs }} turn(s){% if effect.parameter.extensionLimit > 0 %}(capped at {{ effect.parameter.extensionLimit }}){% endif %}
{% when "Heal" %}
{% assign turnDefinition = "turn" %}
Heal {{ target }} for {{ effect.parameter.value }}% of own ATK value
{% when "HealMultipleAttack" %}
Increase recovery amount of {{ target }}'s healing skill by {{ effect.parameter.value }}%
{% when "HealMultipleDefence" %}
{% if effect.parameter.value < 100 %}
Reduce recovery amount of {{ target }}'s received healing by {{ 100 | minus: effect.parameter.value }}%
{% else %}
Increase recovery amount of {{ target }}'s received healing by {{ effect.parameter.value | minus: 100 }}%
{% endif %}
{% when "NeedViewChange" %}
{% assign turnDefinition = "turn" %}
Skill View cost {% if effect.parameter.value >= 100 %}Up{% else %}Down{% endif %} by {{ effect.parameter.value | divided_by: 100.0 }}x for {{ target }}
{% when "RemoveGainViewStock" %}
Apply {{ skillEffectJson.statusId | status_description }} to {{ target}}<br>&nbsp;&nbsp;&nbsp;&nbsp;Gain {{ effect.parameter.value }} View when {{ skillEffectJson.statusId | status_description }} is removed
{% when "Cure" %}
Remove {{ effect.parameter.value }} debuff(s) from {{ target }}
{% when "RegistDebuff" %}
&quot;{{ effect.parameter.value }}% chance to resist {% if effect.parameter.statusId == 0 %}one debuff{% else %}{{ effect.parameter.statusId | status_description }}{% endif %}&quot; for {{ target }}
{% when "RegistBuff" %}
&quot;{{ effect.parameter.value }}% chance to resist {% if effect.parameter.statusId == 0 %}one buff{% else %}{{ effect.parameter.statusId | status_description }}{% endif %}&quot; for {{ target }}
{% when "Provocation" %}
{% assign turnDefinition = "turn" %}
Give {{ target }} {{ 5 | status_description }}: opponents can target only {{ target }}
{% when "Hide" %}
{% assign turnDefinition = "turn" %}
Give {{ target }} {{ 15 | status_description }}
{% when "HidePenetration" %}
Ignore enemy's {{ 15 | status_description }}
{% when "HealthDamage" %}
Deal {% if effect.parameter.evaluationIsMax == true %}{{ effect.parameter.value | times: 2 }}% -> {{ effect.parameter.value }}%{% else %}{{ effect.parameter.value }}% -> {{ effect.parameter.value | times: 2 }}%{% endif %} damage to {{ target }} as HP goes from Max to 0
{% when "GetViewDamage" %}
Deal {{ effect.parameter.value }}% of damage to {{ target }}. Gain <code>damage x{{ effect.parameter.viewMult }}</code> worth of View.
{% when "DeleteTurn" %}
Skip {{ effect.parameter.value }} enemy action(s)
{% when "Silence" %}
{% assign turnDefinition = "turn" %}
{% if effect.parameter.index %}{{ target }} cannot use skill {{ effect.parameter.index | plus: 1 }}{% else %}{{ target }} cannot use view-costing skills{% endif %}
{% when "AddMultDamage" %}
Deal {{ effect.parameter.value }}% of damage and extra {{ effect.parameter.addMult }}% of damage when condition in bracket is met
{% when "AddMultHeal" %}
Heal {{ effect.parameter.value }}% of self' ATK to {{ target }} + extra {{ effect.parameter.addMult }}% when condition in bracket is met
{% when "ComboDamage" %}
Deal {{ effect.parameter.value }}% of damage and {{ effect.parameter.value | times: effect.parameter.combpMult | divided_by: 100.0 }}% extra for each combo to {{ target }}
{% when "ElementPenetrateDamage" %}
Deal {{ effect.parameter.value }}% of damage to {{ target }} regardless of elemental advantage
{% when "Wait" %}
Make {{ target }} go last
{% when "CounterAttack" %}
Counter attack the hitting enemy (may consume attack buff as if this is normal attack)
{% when "OwnAttack" %}
Activate self's skill {{ effect.parameter.index | plus: 1 }} if {{ target }} is still alive
{% when "ComboMultipleAttack" %}
ATK Up by {{ effect.parameter.value }}% to {{ target }} for each combo
{% when "SpdDeferenceMultipleAttack" %}
ATK Up by {{ effect.parameter.spdMult }}% to {{ target }} for each point in speed difference (???)
{% when "SpdDifferenceMultipleAttack" %}
ATK Up by {{ effect.parameter.spdMult }}% to {{ target }} for each point in speed difference between {{ target }} and enemy, capped at {{ effect.parameter.maxMult }}%
{% when "HighestMultipleAttack" %}
ATK Up by {{ effect.parameter.value }}% to {{ effect.parameter.target | skill_target }}
(If there are overlapping effects with the same type and range, only the one with highest value will be applied)
{% when "BeforeSkillTriggerMultipleAttack" %}
ATK Up by {{ effect.parameter.value }}% to {{ target }} if target enemy has no acted yet
{% when "HighestMultipleDefence" %}
Incoming damage increases by {{ effect.parameter.value }}% to {{ target }}
(If there are overlapping effects with the same type and range, only the one with highest value will be applied)
{% when "Penetration" %}
Make {{ target }} ignore Taunt
{% when "TargetMark" %}
{% assign turnDefinition = "turn" %}
{{ target }} will have higher chance of being targeted when opponent is in auto action mode
{% when "NoneEffectElapseTurnDamageAndTurnEnd" %}
(Remove this effect at the end of turn even if unused){% continue %}
{% when "AllAttack" %}
View-costing skills for {{ target }} now target all allies/enemies
{% when "RandomTeamAttack" %}
After attack, if targeted enemy is still alive, random ally will use skill 1 on targeted enemy
{% when "TeamAttackRandomEnemy" %}
Target ally use {% if effect.parameter.isAutoSkill %}auto skill{% else %}skill 1{% endif %} on random enemy
{% when "ViewPowerMultipleAttack" %}
ATK Up by {{ effect.parameter.minMult }}% ~ {{ effect.parameter.maxMult }}% to all allies, scaled from 0 to {{ effect.parameter.maxView }} view power
{% when "HighestViewPowerMultipleAttack" %}
ATK Up by {{ effect.parameter.minMult }}% ~ {{ effect.parameter.maxMult }}% to {{ effect.parameter.target | skill_target }}, scaled from 0 to {{ effect.parameter.maxView }} view power
{% when "HighestComboMultipleAttack" %}
ATK Up by {{ effect.parameter.minMult }}% ~ {{ effect.parameter.maxMult }}% to {{ effect.parameter.target | skill_target }}, scaled from 0 to {{ effect.parameter.maxCombo }} combo
{% when "ForceAuto" %}
Force auto action to {{ target }}
{% when "TurnDecideAutoSkill" %}
Prioritize using Skill {{ effect.parameter.value | plus: 1 }} for every {{ effect.parameter.modValue }} turn(s)
{% when "MultipleHp" %}
HP Up by {{ effect.parameter.value | divided_by: 100.0 }}x to {{ target }}
{% when "StatusNumberMultipleAttack" %}
ATK Up by {{ effect.parameter.statusMult | default: effect.parameter.value }}% to {{ target }} for each {% if effect.parameter.isGoodStatus == true %}buff{% else %}debuff{% endif %}{% if effect.parameter.limitStatusNum %}, can stack up to {{ effect.parameter.limitStatusNum }} time(s){% endif %}
{% when "NeedViewValueChange" %}
{% assign turnDefinition = "turn" %}
Change skill view cost by {{ effect.parameter.value }} for {{ target }}
{% when "IgnoreElement" %}
Make {{ target }} ignore element advantages
{% when "NowViewDamage" %}
Deal {{ effect.parameter.value }}% -> {{ effect.parameter.value | times:2 }}% of damage to {{ target }} as remaining Views go from 0 to {{ 1000000.0 | divided_by: effect.parameter.viewMult | round }}
{% when "SpdDeferenceDamage" %}
Deal {{ effect.parameter.value }}% of damage to {{ target }} + extra {{ effect.parameter.value | divided_by: 1000.0 | times:effect.parameter.spdMult | times:2 }}% damage for each point in speed difference with target
{% when "StatusNumDamage" %}
Deal {{ effect.parameter.value }}% of damage to {{ target }} and {{ effect.parameter.statusMult }}% extra for each {{ target }}'s {% if effect.parameter.isGoodStatus == true %}buff{% else %}debuff{% endif %}
{% when "SalesBonusCheat" %}
Ignore business bonus conditions (?)
{% when "IncreaseLAH" %}
Gain {{ effect.parameter.value }}% extra gold
{% when "IncreaseExp" %}
Gain {{ effect.parameter.value }}% extra XP
{% when "Aggregation" %}
{% assign turnDefinition = "turn" %}
Apply {{ 26 | status_description }} to {{ target }}: <abbr class="tippy" data-content="Does not include single target attack">{{ target }} takes full damage of all-ranged attack done to their team</abbr>
{% when "NoneEffect" %}
{% assign turnDefinition = "turn" %}
Apply {{ skillEffectJson.statusId | status_description }} to {{ target }}
{% when "DamageLimit" %}
Enemy hits cannot deal over {{ effect.parameter.value }} damage to {{ target }}
{% when "AbsorbDamage" %}
Deal {{ effect.parameter.value }}% of damage to {{ target }}. Heal {{ effect.parameter.target | skill_target }} with {{ effect.parameter.healMult }}% damage it caused
{% when "Ressurection" %}
Resurrect {{ target }} to {{ effect.parameter.value }}% HP
{% when "AimLowestHPCharacter" %}
(Auto action) Skill that targets {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %} will target the lowest HP {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %}
{% when "AimHighestHPCharacter" %}
(Auto action) Skill that targets {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %} will target the highest HP {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %}
{% when "AimLowestAtkCharacter" %}
(Auto action) Skill that targets {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %} will target the lowest ATK {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %}
{% when "AimHighestAtkCharacter" %}
(Auto action) Skill that targets {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %} will target the highest ATK {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %}
{% when "AimLeastDamagedCharacter" %}
(Auto action) Skill that targets {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %} will target the least damaged {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %}
{% when "AimMostDamagedCharacter" %}
(Auto action) Skill that targets {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %} will target the most damaged {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %}
{% when "AimLowestDebuffCountCharacter" %}
(Auto action) Skill that targets {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %} will target the lowest debuff count {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %}
{% when "AimHighestDebuffCountCharacter" %}
(Auto action) Skill that targets {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %} will target the highest debuff count {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %}
{% when "AimLowestBuffCountCharacter" %}
(Auto action) Skill that targets {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %} will target the lowest buff count {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %}
{% when "AimHighestBuffCountCharacter" %}
(Auto action) Skill that targets {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %} will target the highest buff count {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %}
{% when "AimLowestSpdCharacter" %}
(Auto action) Skill that targets {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %} will target the lowest SPD {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %}
{% when "AimHighestSpdCharacter" %}
(Auto action) Skill that targets {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %} will target the highest SPD {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %}
{% when "AimBossCharacter" %}
(Auto action) Skill that targets {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %} will target the boss {% if effect.parameter.isTarget %}enemy{% else %}ally{% endif %}
{% when "TriggerDecideAutoSkill" %}
Prioritize skill {{ effect.parameter.value | plus: 1 }}
{% when "ChangeSkillProbElapseTurnEnd" %}
Proc rate of skill {{ effect.parameter.skillId }} is multiplied by {{ effect.parameter.value }}{% if effect.parameter.isPercent %}%{% else %}x{% endif %}
{% when "TurnBaseMultipleAttack" %}
Apply {{ skillEffectJson.statusId | status_description }} to {{ target }}
{% when "PassiveBattleSkillEffect" %}
Grant this skill to {{ target }}
{% assign new_skill_id = effect.parameter.skillId | downcase %}
{% assign new_skill = site.data.SkillMaster[new_skill_id] %}
<fieldset>
{% include skill-description.html skillId=new_skill_id skill=new_skill %}
</fieldset>
{% else %}
Unknown effect class ({{ effect.class }})
{% endcase %}
{% if skillEffectJson.persistence == true and skillEffectJson.isOverrideStatusDescription == false %}
  {% if skillEffectJson.isDisplayPersistenceStatus == true %}
    permanently
  {% else %}
    (recalculated in every turn)
  {% endif %}
{% else %}
  {% if skillEffectJson.turn != 0 %}
    for {{ skillEffectJson.turn }} {{ turnDefinition | strip }}(s)
  {% endif %}
{% endif %}
{% if forloop.last == false %}<br>&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}
{% endfor %}
{% endif %}{% comment %}/* End of status display */{% endcomment %}

/{{ include.skillEffect.prob }}%<br>
