{% if include.split != true or include.first == true %}
<div class="re-table">
    <div class="re-A re-head">Skill Name</div><div class="re-C re-head">View cost</div><div class="re-B re-head">Skill Description</div>
{% endif %}

{% for id in include.skillIds %}
{% assign nid = id | plus: 0 %}
{% assign sid = id | downcase %}
{% assign skill = site.data.SkillMaster[sid] %}
{% assign index = include.index | default: forloop.index %}
    <div title="{{ sid }}" class="re-A" data-effects="{{skill.effects | map: 'skillEffectId' | join: ',' }}">{{ nid | skill_name_html }}</div>
    <div class="re-C">{{ skill.useView}}</div>
    <div class="re-B">{% include skill-description.html skillId=nid index=index changeSkillIds=include.changeSkillIds %}</div>
{% endfor %}

{% if include.split != true or include.last == true %}
</div>
{% endif %}
