{% case include.timing %}
{% when 0 %}
base skill
{% when 1 %}
when appearing
{% when 2 %}
action start
{% when 3 %}
action end
{% when 4%}
turn start
{% when 5 %}
turn end
{% when 6 %}
when self at &lt;50% HP
{% when 7 %}
after invoker's attack puts enemy at &lt;50% HP
{% when 8 %}
when taking damage
{% when 9 %}
when debuffed
{% when 10 %}
permanent effect
{% when 11 %}
battle win
{% when 12 %}
AI choose target
{% when 13 %}
after using non-attacking skill
{% when 14 %}
when leaving
{% when 15 %}
when buffed
{% when 17 %}
when current attack kills the enemy
{% when 19 %}
when activating a skill that increases combo
{% when 20 %}
when invoker's attack causes damage to enemy
{% when 21 %}
Always active
{% when 22 %}
when receiving damage
{% when 24 %}
Always active
{% when 27 %}
current action end
{% else %}
unknown timing ({{ include.timing }})
{% endcase %}
