{% unless include.hide_banner == true %}
<p>Hover over the effect description to see original japanese description. Please help report any bug related to skill effect <a href="https://github.com/liveahero-wiki/liveahero-wiki.github.io/issues/7">here</a>.</p>

<p>Want to help in translating skill names? Please see <a href="https://github.com/liveahero-wiki/liveahero-wiki.github.io/issues/26">here</a>.</p>
{% endunless %}

<table>
    <tr>
        <th>Skill Name</th><th>Effect/Proc rate</th><th>View cost</th>
    </tr>
    {% for id in include.skillIds %}
    {% assign sid = id | downcase %}
    {% assign skill = site.data.SkillMaster[sid] %}
    {% assign skillName = site.data.wiki.SkillNameTranslation[id] %}
    <tr>
        <td title="{{ sid }}" class="translate" data-translate="{% if skillName %}{{ skill.skillName }}{% endif %}" data-effects="{{ skill.effects | map: 'skillEffectId' | join: ',' }}">{{ skillName | default: skill.skillName }}</td><td title="{{ skill.description }}">{% include skill-description.html skill=skill %}</td><td>{{ skill.useView }}</td>
    </tr>
    {% endfor %}
</table>