{% assign skillS = include.skillId | downcase %}
{% assign skill = site.data.SkillMaster[skillS] %}
{% assign skillV2 = site.data.translation.Skill[skillS] %}
{% assign skillOverride = site.data.wiki.SkillManualOverride[include.skillId] %}

{% if skillV2.description %}

  {% assign status_array = "" | split: "," %}
  {% for effect in skill.effects %}
    {% assign skillEffectId = effect.skillEffectId | downcase %}
    {% assign skillEffect = site.data.SkillEffectMaster[skillEffectId] %}
    {% assign skillEffectJson = skillEffect.skillEffectJson %}

    {% if skillEffectJson.statusId == 0 %}
      {% continue %}
    {% endif %}

    {% assign status = skillEffectId | status_description_v2: skillEffectJson %}
    {% if status %}
      {% assign status_array = status_array | push: status %}
    {% endif %}
  {% endfor %}
  {{ skillV2.description | render_skill_description: status_array }}

  {% for changeSkillId in include.changeSkillIds[include.index] %}
    {% assign sid = changeSkillId | downcase %}
    {% assign changeSkill = site.data.SkillMaster[sid] %}
    {% if changeSkillId != include.skillId and changeSkill.skillName != skill.skillName %}
      {% assign skillName = site.data.translation.Skill[sid].skillName | default: changeSkill.skillName %}
      <details data-id="{{ changeSkillId }}">
        <summary>{{ skillName }}</summary>
        <p>{% include skill-description.html skillId=changeSkillId %}</p>
      </details>
    {% endif %}
  {% endfor %}

{% elsif skillOverride %}{{ skillOverride | render_liquid }}{% else %}

{% assign randomGroups = skill.effects | group_by: "randomGroupId" %}

{% for randomGroup in randomGroups %}
{%- if randomGroup.name != "0" %}
<fieldset class="s-rand-g">
<legend>One of the effect in this group will be activated at random</legend>
{%- endif %}

{% for skillEffect in randomGroup.items %}
{% comment %}Exclude skill tree effect for now{% endcomment %}
{% if skillEffect.prob > 0 and skillEffect.conditionEntityId == 0 and skillEffect.skillEffectId != 3024 %}
  {% include skill-effect-description-v2.html skillEffect=skillEffect timing=skill.timing %}
{% endif %}
{% endfor %}

{%- if randomGroup.name != "0" %}</fieldset>{% endif %}

{% endfor %}

{% if skill.appendPassiveSkillIds.size > 0 %}
<fieldset class="s-rand-g">
  <legend>Passive</legend>
  {% for passiveSkillId in skill.appendPassiveSkillIds %}
    {% assign passiveSkillIdS = passiveSkillId | downcase %}
    {% assign passiveSkill = site.data.SkillMaster[passiveSkillIdS] %}
    {% include skill-description.html skillId=passiveSkillIdS skill=passiveSkill %}
  {% endfor %}
</fieldset>
{% endif %}

{% endif %}{% comment %}skillOverride{% endcomment %}
