{% assign skillOverride = wiki.SkillManualOverride[include.skillId] %}
{% if skillOverride %}{{ skillOverride }}{% else %}

{% assign randomGroups = include.skill.effects | group_by: "randomGroupId" %}

{% for randomGroup in randomGroups %}
{%- if randomGroup.name != "0" %}
<fieldset class="s-rand-g">
<legend>One of the effect in this group will be activated at random</legend>
{%- endif %}

{% for skillEffect in randomGroup.items %}
{% if skillEffect.prob > 0 %}
{% include skill-effect-description.html skillEffect=skillEffect timing=include.skill.timing %}
{% endif %}
{% endfor %}

{%- if randomGroup.name != "0" %}</fieldset>{% endif %}

{% endfor %}
{% endif %}{% comment %}skillOverride{% endcomment %}
