{% assign whitelist = "APPRECIATION,DAILY,EVENTA,EVENTB,HERO,HERO2,PLAYER,PLAYER2,RELATION,TOUCH,TOUCH2,TRAIN,TRAINED" | split: "," %}
{% assign names = include.resourceName | split: "," %}

{% assign manual = "battleStart,action,attack,skill,special,smallDamage,bigDamage,win,lose,assist,assisted,loveIndexMax,rankMax,salesStart,salesEnd" | split: "," %}
{% assign greeting = "h_gachaResult,s_gachaResult" | split: "," %}

<h2>Voice Lines ({{ names | join: ", " }})</h2>
<table class="voice-table">
{% for n in names %}
  {% assign name = n | upcase | prepend: "_" | append: "_" %}

  {% for part in greeting %}
    {% assign translated = include[part] %}
    {% capture key %}voice_{{ n }}_{{ part }}{% endcapture %}
    {% assign jp_line = site.data.processed.jp_greeting[key] %}

    {% if translated or jp_line %}<tr><th>{{ part | replace: "h_", "Hero " | replace: "s_", "Sidekick " }}</th>
<td markdown="1" class="translate" data-translate="{% if translated %}{{ jp_line | escape }}{% endif %}">
{{ translated | default: jp_line }}
</td></tr>{% endif %}
  {% endfor %}

  {% for part in whitelist %}
    {% assign p = part %}
    {% assign key = "SERIF" | append: name | append: part %}
    {% assign jp_line = site.data.processed.jp_serif[key] %}
    {% if name contains "PLAYER" %}
      {% if part != "TRAINED" %}{% continue %}{% endif %}
      {% assign p = key | replace: "SERIF_", "" %}
    {% endif %}
    {% assign translated = include[p] %}
    {% if jp_line %}<tr><th>{{ p }}</th>
<td markdown="1" class="translate" data-translate="{% if translated %}{{ jp_line | escape }}{% endif %}">
{{ translated | default: jp_line }}
</td></tr>{% endif %}
  {% endfor %}

  {% for part in manual %}
  {% assign line = include[part] %}
  {% if line %}<tr><th>{{ part }}</th>
<td markdown="1">
{{ line }}
</td></tr>{% endif %}
  {% endfor %}
{% endfor %}
</table>