---
layout: compress
hidden: true
title: "Live A Hero 2025 Community Survey"
additional_styles:
  - https://unpkg.com/survey-core@2.3.4/survey-core.min.css
  - https://rongjie-survey-platform.netlify.app/static/shared.css
additional_scripts:
  - https://captcha.gurl.eu.org/cap.min.js
---
<!--{% include header.html %}
<main class="content__area">
<style>
#surveyContainer {
  position: relative;
  margin: 0 -40px;
}
#languageSelect {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  padding: 5px;
}
.loading-area {
  padding: 40px;
  text-align: center;
}
.load-spinner {
  margin: auto;
  width: 100px;
  height: 100px;
  border: 8px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
<div class="content__wider">
    <aside class="toolbar clearfix">
    <button class="menu-button" title="Open Menu" aria-label="Open Menu">
        <span aria-hidden="true"><svg height="16" viewBox="0 0 12 16" width="12" xmlns="http://www.w3.org/2000/svg"><path d="m11.41 9h-10.82c-.59 0-.59-.41-.59-1s0-1 .59-1h10.81c.59 0 .59.41.59 1s0 1-.59 1zm0-4h-10.82c-.59 0-.59-.41-.59-1s0-1 .59-1h10.81c.59 0 .59.41.59 1s0 1-.59 1zm-10.82 6h10.81c.59 0 .59.41.59 1s0 1-.59 1h-10.81c-.59 0-.59-.41-.59-1s0-1 .59-1z"/></svg></span>
        <span>Menu</span>
    </button>
    <a class="github-button" href="{{ site.github_repo }}/blob/master/{{ page.path }}?plain=1">View source</a>
    </aside>
    <div id="surveyContainer">
      <div class="loading-area">
      <h1>Loading...</h1>
      <div class="load-spinner"></div>
      </div>
    </div>
</div>
</main>
<script defer src="https://rongjie-survey-platform.netlify.app/lah-2025.js"></script>
{% include footer.html %}
-->
