@use "sass:list";

:root {
  color-scheme: light;

  --color50: #e5e5e5;
  --color100: #ffd95b;

  --colorLight: var(--color100);
  --colorPrimary: #ffa726;
  --colorDark: #c77800;
  --colorGrey: #aaa;
  --text: #000;
  --textLight: #fff;
  --link: var(--colorDark);
  --bg: #fafafa;
  --notiBg: #cce7ff;

  --mask-filter: brightness(0);

  --sectionHeader: rgb(94 203 140);
  --sectionBg: #d3f8eb;

  --fire: #f07d75;
  --water: #88bcff;
  --earth: #5fcb58;
  --light: #ffb251;
  --shadow: #b88dff;

  --silver: #d0d0d0;
  --gold: linear-gradient(195deg, #f0b050, #ffe080, #f0b050);
  --rainbow: linear-gradient(195deg, #ff8080, #ffff80, #80ff80, #80ffff, #8080ff);
}

html[data-theme="dark"] {
  color-scheme: dark;

  --color50: #333;
  --colorPrimary: #F57F17;
  --colorLight: #F9A825;
  --colorDark: #c77800;
  --colorGrey: #555;

  --text: #fff;
  --textLight: #000;
  --link: var(--color100);
  --bg: #0f0f1f;
  --notiBg: #11538d;
  --sectionHeader: rgb(18, 195, 92);
  --sectionBg: #077c53;

  --mask-filter: brightness(1);

  --fire: #a50b00;
  --water: #0c4b9e;
  --earth: #087800;
  --light: #c97e1a;
  --shadow: #59398b;
}

*, *:before, *:after {
  box-sizing: border-box;
}
html, body {
  font: 400 16px Roboto, Arial, sans-serif;
  color:  var(--text);
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
}
header, .page-header, .pager, footer {
  flex: none;
}
header {
  background-color: var(--colorPrimary);
  padding: 18px 0;
}
.clearfix:before, .clearfix:after {
  content: '';
  clear: both;
  display: table;
}
.wiki-msg {
  padding: 10px;
  background: var(--notiBg);
}
a {
  color: var(--link);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.page-header {
  padding: 30px 0;
}
.page-header h1 {
  margin: 22px 0;
}
.page-header a {
  color: var(--colorPrimary);
}
.sidebar {
  contain: content;
  background: var(--colorLight);
  visibility: hidden;
  width: 250px;
  position: fixed;
  transform: translateX(-250px);
  transition: transform 0.15s ease;
  z-index: 2;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
}
.sidebar--is-visible {
  transform: translateX(0);
  visibility: visible;
}
.sidebar__logo {
  border-bottom: 1px solid var(--colorDark);
  height: 130px;
  /*font-size: 36px;
  line-height: 130px;
  margin-bottom: 0;
  text-align: center;*/
}
.sidebar__logo img {
  filter: drop-shadow(0 0 0.25rem #fff);
}
.sidebar__nav {
  max-height: calc(100% - 130px);
  overflow-y: auto;
}
.sidebar__nav-interior {
  height: 100%;
  padding: 40px;
}
.sidebar a {
  color: var(--text);
}
.section__header {
  font-size: 1em;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 10px;
}
.sidebar li {
  list-style: square;
}
.search-box {
  margin-bottom: 20px;
  width: 100%;
  height: 30px;
  border: 2px solid #888;
  border-radius: 2px;
}
.toolbar {
  margin: 20px 0;
}
.menu-button, .github-button {
  display: inline-block;
  font-size: 16px;
  background: none;
  border: none;
  padding: 6px;
  margin-right: 10px;
  color: var(--text);
}
.github-button {
  float: right;
}
.menu-button:hover, .github-button:hover {
  text-decoration: none;
  background-color: var(--color50);
  transition: background-color 0.5s ease-out;
}
.content__area {
  width: 100%;
  padding-bottom: 40px;
}
.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 40px;
}
.content__wider {
  padding: 0 40px;
}
.content__overlay {
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  display: none;
}
.content__overlay--is-active {
  display: block;
}
@media (min-width: 768px) {
  .sidebar {
    transform: translateX(0);
    visibility: visible;
  }
  .content__area {
    padding: 40px 40px 40px 290px;
  }
  .menu-button {
    display: none;
  }
}
main {
  flex: 1 0 auto;
}
article {
  margin-bottom: 80px;
  line-height: 1.25;
}
h1, h2, h3, h4 {
  line-height: 1;
  font-weight: 600;
  margin: 40px 0 20px;
}
h1 {
  font-size: 32px;
  font-weight: 400;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
.meta {
  font-size: 14px;
  margin-bottom: 20px;
}
time {
  background: no-repeat url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 2h-1v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H6v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H2c-.55 0-1 .45-1 1v11c0 .55.45 1 1 1h11c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm0 12H2V5h11v9zM5 3H4V1h1v2zm6 0h-1V1h1v2zM6 7H5V6h1v1zm2 0H7V6h1v1zm2 0H9V6h1v1zm2 0h-1V6h1v1zM4 9H3V8h1v1zm2 0H5V8h1v1zm2 0H7V8h1v1zm2 0H9V8h1v1zm2 0h-1V8h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1zm2 0h-1v-1h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1z'%3E%3C/path%3E%3C/svg%3E");
  padding-left: 20px;
}
.author {
  background: no-repeat url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z'/%3E%3C/svg%3E");
  padding-left: 20px;
}
p, ul, ol, table, pre, dl {
  margin: 20px 0;
}
ul ul, ol ol, ul ol, ol ul {
  margin: 0;
}
ul, ol {
  padding-left: 24px;
}
li {
  line-height: 1.5;
}
.footnotes {
  border-top: 1px dotted;
  margin-top: 40px;
  padding-top: 20px;
}
#markdown-toc, #timeline {
  list-style: none;
  padding-left: 8px;
}
#markdown-toc {
  border-left: 4px solid var(--colorLight);
}
#markdown-toc li {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
pre {
  padding: 16px;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  white-space: pre-wrap;
  word-wrap: break-word;
}
code {
  padding: 2px;
}
code, pre {
  font: 14px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 1.45;
  background-color: var(--colorGrey);
}
blockquote {
  border-left: 3px solid #1de9b6;
  margin: 24px 0;
  padding: 1px 12px;
  font-style: italic;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.table-scroll {
  overflow-x: auto;
}
th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}
th > table, td > table {
  margin: 0;
}
th {
  background-color: var(--colorPrimary);
}
.sticky-header th {
  position: sticky;
  top: 0;
  z-index: 100;
}
.bordered {
  th, td {
    border: 1px solid var(--text);
  }
}
.sort-table {
  th {
    cursor: pointer;
  }
  th::after {
    content: ' \25BD';
  }
  th[data-order="1"]::after {
    content: ' \25BC';
  }
  th[data-order="-1"]::after {
    content: ' \25B2';
  }
}
.sort-table td {
  vertical-align: top;
}
details {
  contain: content;
  border: 1px solid var(--colorGrey);

  >p, >ul, >ol, >table, >blockquote {
    margin: 15px;
  }

  table {
    width: calc(100% - 30px);
  }
}
td {
  >p, >ul, >ol {
    margin: 0;
  }
}
summary {
  cursor: pointer;
  background: var(--colorGrey);
  padding: 15px;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--colorGrey);
  margin: 1em 0;
  padding: 0
}
footer {
  color: var(--textLight);
  font-size: 12px;
  background-color: var(--colorDark);
  padding-top: 30px !important;
  padding-bottom: 15px !important;
}
footer a {
  color: var(--textLight);
  text-decoration: underline;
}
@media (max-width: 820px) {
  header {
    text-align: center;
  }
  .site-title, .site-nav {
    float: none;
  }
  .site-nav {
    margin-top: 20px;
  }
}
//::selection {
//  background-color: #b3d4fc;
//  text-shadow: none;
//}
figure {
  background: #fafafa;
  margin: 0;
  margin-bottom: 30px;
}
.clip-img {
  aspect-ratio: 3/2;
  overflow-y: scroll;
}
figure img {
  display: block;
  margin: auto;
}
.apache-chart {
  width: 100%;
}
figcaption {
  font-size: 13px;
  background-color: var(--colorLight);
  padding: 16px 20px 20px;
}
.takeaway {
  color: var(--textLight);
  background-color: #78909c;
  padding: 10px 30px 30px;
  margin-bottom: 30px;
}
.expired {
  text-decoration: line-through;
}
.translate {
  cursor: pointer;
}
.masked {
  background-color: var(--text);
  color: var(--text);
  transition: color 0.13s;
  filter: var(--mask-filter);
}
.masked:hover {
  color: var(--textLight);
  filter: none;
}
// Hero page
.atlas-gallery {
  img {
    display: block;
    margin: auto;
  }
  select {
    width: 100%;
  }
}
@media (min-width: 1064px) {
  .atlas-gallery {
    img {
      max-width: 320px;
    }
  }
}
.contain {
  contain: content;
}
.re-table {
  display: grid;
  grid-template-columns: minmax(min-content, 20%) min-content auto;
  grid-auto-flow: dense;
  margin-bottom: 20px;
}
wiki-enhance {
  color: #000;
  background: var(--colorLight);
}
.re-A, .re-B, .re-C, .re-split {
  padding: 10px;
  border-bottom: 1px solid var(--text);
}
.re-A {
  background: var(--color50);
}
.re-head {
  background: var(--colorPrimary);
}
.re-split {
  grid-column: span 3;
}
@media (max-width: 550px) {
  .re-table {
      grid-template-columns: auto 55px;
  }
  .re-B, .re-split {
      grid-column: span 2;
  }
  .re-B.re-head {
    display: none;
  }
}
.heroinfobox {
  padding: 2px;
  margin-bottom: 10px;
  display: grid;
}
@media (min-width: 1064px) {
  .heroinfobox {
    grid-template-columns: 320px auto;
    gap: 5px;
  }
}
.heroinfobox .header {
  padding: 10px;
}
.heroinfobox .name {
  font-size: 40px;
  font-weight: 700;
}
.heroinfobox table {
  margin: 0;
}
.chara-badge {
  border: 1.5px solid var(--text);
  border-radius: 4px;
  padding: 10px;
}
.chara-type {
  display: block;
  margin: auto;
  margin-bottom: 2px;
}
.chara-stars {
  display: flex;
  gap: 1px;
  justify-content: center;
}
.h-star, .s-star, .g-star {
  width: 12px;
  height: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.h-star {
  background-image: url(/assets/img/icons/ui_symbol_star_01.webp);
}
.s-star {
  background-image: url(/assets/img/icons/ui_symbol_star_02.webp);
}
.g-star {
  background-image: url(/assets/img/icons/ui_symbol_star_03.webp);
}

.element1 {
  --color: var(--fire);
}
.element2 {
  --color: var(--water);
}
.element3 {
  --color: var(--earth);
}
.element4 {
  --color: var(--light);
}
.element5 {
  --color: var(--shadow);
}
.elementNone {
  --color: var(--colorGrey);
}

  .tabcontent {
    th, .header, .re-head {
      background: var(--color);
    }
    .heroinfobox {
      border: 2px solid var(--color);
    }
    summary {
      background-color: var(--color);
    }
    details {
      border: 1px solid var(--color);
    }
  }

.blooming {
  display: grid;
  grid-template-columns: fit-content(280px) 1fr;
  grid-gap: 5px;
  margin-bottom: 30px;
}
wiki-passive, wiki-auto-action {
  display: block;
  position: relative;
  border-top: 1px solid var(--text);
  padding-top: 1.25rem;
  margin-top: 1.25rem;
}
wiki-passive::before, wiki-auto-action::before {
  display: block;
  position: absolute;
  top: -.75rem;
  left: 20px;
  background: var(--bg);
  padding: 2px;
}
wiki-passive::before {
  content: 'Passive';
}
wiki-auto-action::before {
  content: 'Auto action';
}
@media (max-width: 768px) {
  .blooming {
    grid-template-columns: 1fr;
  }
}
.blooming_main {
  border: 1px solid var(--text);
  border-radius: 5px;
  padding: 10px;
}
.skill_tree tr:nth-child(odd) td {
  background: var(--color50);
}
.skill_tree table {
  margin: 0;
}
// Chara list page
.card-list {
  display: grid;
  grid-auto-rows: minmax(176px, auto);
  grid-template-columns: repeat(auto-fill, 140px);
  padding: 0;
  margin: 10px 0;
  contain: content;
}
.card-list li {
  display: block;
  list-style: none;
  border: 1px solid var(--text);
}
.card-list a {
  display: block;
  padding: 5px;
  text-align: center;
}
.hero-icon, .sidekick-icon {
  width: 128px;
  height: 128px;
  position: relative;
  margin: calc((140px - 128px)/2);
}
.chara-border {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: calc(128/125*100%);
}
.hero-chara-icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 8px;
  background-size: 128px;
}
$elementName: fire, water, earth, light, shadow;
@for $i from 1 to 6 {
  [data-element="#{$i}"] .hero-chara-icon {
    $name: list.nth($elementName, $i);
    background-image: url(/cdn/Sprite/ui_frame_h_base_#{$name}.png);
  }
}
.hero-1, .hero-2 {
  background-image: url(/cdn/Sprite/ui_frame_h_00.png);
}
.hero-3 {
  background-image: url(/cdn/Sprite/ui_frame_h_01.png);
}
.hero-4 {
  background-image: url(/cdn/Sprite/ui_frame_h_02.png);
}
.hero-5 {
  background-image: url(/cdn/Sprite/ui_frame_h_03.png);
}
.hero-6 {
  background-image: url(/cdn/Sprite/ui_frame_h_04.png);
}
.sidekick-chara-icon {
  position: absolute;
}
.sidekick-icon img {
  display: block;
  height: 128px;
  width: 128px;
  right: 0;
  bottom: 0;
  clip-path: polygon(0% 10%, 50% 0%, 95% 10%, 95% 73%, 50% 95%, 0% 73%);
}
.sidekick-border-1, .sidekick-border-2 {
  width: 124px;
  background-image: url(/cdn/Sprite/ui_frame_s_00.png);
}
.sidekick-border-3 {
  width: 124px;
  background-image: url(/cdn/Sprite/ui_frame_s_01.png);
}
.sidekick-border-4 {
  width: 124px;
  background-image: url(/cdn/Sprite/ui_frame_s_02.png);
}
.sidekick-1, .sidekick-2 {
  background-image: url(/cdn/Sprite/ui_frame_s_base_00.png);
}
.sidekick-3 {
  background-image: url(/cdn/Sprite/ui_frame_s_base_01.png);
}
.sidekick-4 {
  background-image: url(/cdn/Sprite/ui_frame_s_base_02.png);
}
.has-unit {
  background: var(--colorLight);
}
.filter-on {
  opacity: 0.5;
}
.filtered {
  display: none !important;
}
[data-radio-filter="1"] li:not(.has-unit) {
  display: none !important;
}
[data-radio-filter="2"] li.has-unit {
  display: none !important;
}
.item, .status, abbr {
  position: relative;
  text-decoration: underline dashed 1px;
  text-underline-offset: 2px;
  cursor: help;
}
.item, .status {
  img {
    width: 2em;
    height: 2em;
    vertical-align: middle;
  }
  .status-s {
    width: 1.5em;
    height: 1.5em;
  }
}
.status span {
  display: block;
  position: absolute;
  font-size: 10px;
  text-align: center;
  color: var(--bg);
  background: var(--text);
  border-radius: 6px;
  height: 12px;
  width: 12px;
  top: 20px;
  left: 24px;
}
// Skill
.s-rand-g {
  margin-top: 10px;
  padding: 5px;
}
.skill-evo {
  margin-bottom: 30px;
}
.indent {
  padding-left: 20px;
}
.skill-1 {
  background: var(--silver);
}
.skill-2 {
  background: var(--gold);
}
.skill-3 {
  background: var(--rainbow);
}
// Event page
.event-infobox {
  border: 2px solid var(--colorDark);
}
.event-infobox th {
  background-color: var(--colorDark);
  color: var(--textLight);
  text-align: center;
}
.event-infobox th a {
  color: var(--textLight);
}
.quest-infobox {
  table-layout: fixed;
  th {
    text-align: center;
    width: 80px;
  }
  .hero-icon {
    float: left;
    width: 64px;
    height: 64px;
  }
  .enemy-info-row {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
}
.screenshot {
  max-height: min(700px, 100vh);
  width: auto;
  max-width: 100%;
  --font-size: 30px;
}
.screenshot text {
  font: bold var(--font-size) sans-serif;
  fill: var(--textLight);
}
.image-mapper-shape {
  fill: rgba(0, 0, 0, 0.5);
  stroke: var(--textLight);
  stroke-width: 5px;
}
g:hover .image-mapper-shape {
  opacity: 20%;
}
