:root {
  --sprite-width: 128px;
  --sprite-height: 128px;
  --sprite-animation-length: 1s;
}

@keyframes sprite-play {
  from {
    background-position-x: 0;
  }
  to {
    /* Move the background by the total width of the sprite sheet */
    background-position-x: calc(var(--sprite-width) * var(--sprite-frames) * -1);
  }
}

.sprite-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max(var(--sprite-width), 200px);
  height: max(var(--sprite-height), 200px);
  border: 1px solid var(--colorGrey);
  overflow: hidden;
}
.sprite-frame {
  width: var(--sprite-width);
  height: var(--sprite-height);
  margin: auto;
  background-repeat: no-repeat;
  animation: sprite-play var(--sprite-animation-length) steps(var(--sprite-frames)) infinite;
}
