---
layout: markdownify
---

{% if page.unreleased %}
{% include hero-infobox-unreleased.html sprites=page.sprites %}
{% else %}
<wiki-tabs>

<wiki-header class="scroll-snap-x">
<nav role="tablist">
{% for hero in page.heroes %}
<a role="tab" aria-controls="h{{ hero.stockId }}" href="#h{{ hero.stockId }}">{{ hero.stockId | stockIdToCharaTitle: 1 }}</a>
{% endfor %}
{% for sk in page.sidekicks %}
<a role="tab" aria-controls="s{{ sk.stockId }}" href="#s{{ sk.stockId }}">{{ sk.stockId | stockIdToCharaTitle: 2 }}</a>
{% endfor %}
</nav>
</wiki-header>

<wiki-tabcontent class="scroll-snap-x">
{% for hero in page.heroes %}
{% include hero-infobox.html
    stockId=hero.stockId
    BIO_H01=hero.BIO_H01
    BIO_H02=hero.BIO_H02
    extra_sprites=hero.extra_sprites
    passiveSkillIds=hero.passiveSkillIds
%}
{% endfor %}
{% for sk in page.sidekicks %}
{% include sidekick-infobox.html
    stockId=sk.stockId
    BIO_S01=sk.BIO_S01
    extra_sprites=sk.extra_sprites
    extraActiveSkillIds=sk.extraActiveSkillIds
    extraPassiveSkillIds=sk.extraPassiveSkillIds
%}
{% endfor %}
</wiki-tabcontent>

</wiki-tabs>
{% endif %}
{{content}}