---
layout: compress
---
{% include header.html %}
<main class="content__area">
<div class="content{% if page.wide_content %}__wider{% endif %}">
    <!--<aside class="wiki-msg">    
        Thank you for participating in LAH community survey 2023! Results are now published in <a href="/blog/2023/community-survey-2023/">wiki blog</a>!
    </aside>-->
    <aside class="toolbar clearfix">
    <button class="menu-button" title="Open Menu" aria-label="Open Menu">
        <span aria-hidden="true"><svg height="16" viewBox="0 0 12 16" width="12" xmlns="http://www.w3.org/2000/svg"><path d="m11.41 9h-10.82c-.59 0-.59-.41-.59-1s0-1 .59-1h10.81c.59 0 .59.41.59 1s0 1-.59 1zm0-4h-10.82c-.59 0-.59-.41-.59-1s0-1 .59-1h10.81c.59 0 .59.41.59 1s0 1-.59 1zm-10.82 6h10.81c.59 0 .59.41.59 1s0 1-.59 1h-10.81c-.59 0-.59-.41-.59-1s0-1 .59-1z"/></svg></span>
        <span>Menu</span>
    </button>
    <a class="github-button" href="{{ site.github_repo }}/edit/master/{{ page.path }}">Edit this page</a>
    </aside>
{% include banner.html %}
{{ content }}
</div>
</main>
{% include footer.html %}