---
layout: compress
---
{% include header.html %}
<main class="content__area">
<div class="content{% if page.wide_content %}__wider{% endif %}">
    <!--<aside class="wiki-msg">    
        LAH community survey and popularity poll (2025 edition) has ended. Results will be published by the end of October 2025.
    </aside>-->
    <aside class="wiki-msg">    
        <a href="/blog/2025/open-letter-to-lw/">Open Letter to LifeWonders</a> regardng the status of official translation (2025-09-30)
    </aside>
    <aside class="toolbar clearfix">
    <button class="menu-button" title="Open Menu" aria-label="Open Menu">
        <span aria-hidden="true"><svg height="16" viewBox="0 0 12 16" width="12" xmlns="http://www.w3.org/2000/svg"><path d="m11.41 9h-10.82c-.59 0-.59-.41-.59-1s0-1 .59-1h10.81c.59 0 .59.41.59 1s0 1-.59 1zm0-4h-10.82c-.59 0-.59-.41-.59-1s0-1 .59-1h10.81c.59 0 .59.41.59 1s0 1-.59 1zm-10.82 6h10.81c.59 0 .59.41.59 1s0 1-.59 1h-10.81c-.59 0-.59-.41-.59-1s0-1 .59-1z"/></svg></span>
        <span>Menu</span>
    </button>
    <a class="github-button" href="{{ site.github_repo }}/blob/master/{{ page.path }}?plain=1">View source</a>
    </aside>
{% include banner.html %}
{{ content }}
</div>
</main>
{% include footer.html %}