---
layout: default
---

<div class="page-header">
<h1><a href="{{ page.url }}">Event Quest: {{ page.title | default: page.jp_title }}</a></h1>
</div>

<table class="event-infobox">
<tr><th colspan="2">{{ page.title | default: page.jp_title }}</th></tr>
<tr><th colspan="2">Duration</th></tr>
{% if page.gacha %}
<tr><th>Gacha</th><td data-expiry="{{ page.event_end_time }}">{{ page.event_start_time | date: site.date_format }} to {{ page.event_end_time | date: site.date_format }}</td></tr>
{% endif %}
<tr><th>Main Quests</th><td data-expiry="{{ page.event_end_time }}">{{ page.event_start_time | date: site.date_format }} to {{ page.event_end_time | date: site.date_format }}</td></tr>
{% if page.farm_end_time %}
<tr><th>Free Quests</th><td data-expiry="{{ page.farm_end_time }}">{{ page.farm_start_time | date: site.date_format }} to {{ page.farm_end_time | date: site.date_format }}</td></tr>
{% endif %}
{% if page.sales_end_time %}
<tr><th>Event Sales</th><td data-expiry="{{ page.sales_end_time }}">{{ page.sales_start_time | date: site.date_format }} to {{ page.sales_end_time | date: site.date_format }}</td></tr>
{% endif %}
<tr><td colspan="2"><a href="{{ page.news_link }}">News link</a></td></tr>
</table>

{{ content }}
