---
layout: default
---

<div class="page-header">
<h1><a href="{{ page.url }}">
{% if page.no_limited_quest %}Campaign{% else %}Event Quest{% endif %}:
{{ page.title | default: page.jp_title }}</a></h1>
</div>

<table id="event-{{ page.eventId }}" class="event-infobox">
<tr><th colspan="2">{{ page.title | default: page.jp_title }}</th></tr>
{% assign banner_image = "/cdn/Sprite/" | append: page.banner_image %}
<tr><td colspan="2">{% include image-event.html path=banner_image style="width: 100%" %}</td></tr>
<tr><th colspan="2">Duration</th></tr>
{% if page.gacha %}
<tr><th>Gacha</th><td data-expiry="{{ page.event_end_time }}">{{ page.event_start_time | date: site.date_format }} to {{ page.event_end_time | date: site.date_format }}</td></tr>
{% endif %}
{% if page.no_limited_quest != true %}
<tr><th>Main Quests</th><td data-expiry="{{ page.event_end_time }}">{{ page.event_start_time | date: site.date_format }} to {{ page.event_end_time | date: site.date_format }}</td></tr>
{% endif %}
{% if page.farm_end_time %}
<tr><th>Free Quests</th><td data-expiry="{{ page.farm_end_time }}">{{ page.farm_start_time | date: site.date_format }} to {{ page.farm_end_time | date: site.date_format }}</td></tr>
{% endif %}
{% if page.sales_end_time %}
<tr><th>Event Sales</th><td data-expiry="{{ page.sales_end_time }}">{{ page.sales_start_time | date: site.date_format }} to {{ page.sales_end_time | date: site.date_format }}</td></tr>
{% endif %}
<tr><td colspan="2"><a href="{{ page.news_link }}">News link</a></td></tr>
</table>

{{ content }}

{% assign eventId = page.eventId | downcase %}
{% assign regionId = site.data.EventMaster[eventId].eventPortalJson.salesRegionIds[0] | downcase %}
{% assign sales_reports = site.data.processed.sales_report_master[regionId] %}

{% if sales_reports.size > 0 %}
<h2 id="event-sales-report">Event Sales Report</h2>

{% for sales_report in sales_reports %}

{% include sales-report.html sales_report=sales_report %}

{% endfor %}
{% endif %}
